/* =============================================================================
   BUTTONS (settings/_buttons.scss)
   ========================================================================== */

$buttons-transition-speed: .2s;

/* Primary Button */
$buttons-primary-background-color: #000;
$buttons-primary-background-color-hover: rgb( 100, 100, 100 );
$buttons-primary-border-color: #000;
$buttons-primary-border-color-hover: #000;
$buttons-primary-border-radius: 48px;
$buttons-primary-padding-top: 10px;
$buttons-primary-padding-right: 20px;
$buttons-primary-padding-bottom: 10px;
$buttons-primary-padding-left: 20px;
$buttons-primary-text-color: #fff;
$buttons-primary-text-color-hover: #fff;
$buttons-primary-text-size: 14px;
$buttons-primary-text-transform: none;

/* Secondary Button */
$buttons-secondary-background-color: #333;
$buttons-secondary-background-color-hover: rgb( 100, 100, 100 );
$buttons-secondary-border-color: #000;
$buttons-secondary-border-color-hover: #000;
$buttons-secondary-border-radius: 48px;
$buttons-secondary-padding-top: 10px;
$buttons-secondary-padding-right: 20px;
$buttons-secondary-padding-bottom: 10px;
$buttons-secondary-padding-left: 20px;
$buttons-secondary-text-color: #fff;
$buttons-secondary-text-color-hover: #fff;
$buttons-secondary-text-size: 14px;
$buttons-secondary-text-transform: none;

/* Transparent Button */
$buttons-transparent-background-color: #333;
$buttons-transparent-background-color-hover: rgb( 100, 100, 100 );
$buttons-transparent-border-color: #000;
$buttons-transparent-border-color-hover: #000;
$buttons-transparent-border-radius: 48px;
$buttons-transparent-padding-top: 10px;
$buttons-transparent-padding-right: 20px;
$buttons-transparent-padding-bottom: 10px;
$buttons-transparent-padding-left: 20px;
$buttons-transparent-text-color: #fff;
$buttons-transparent-text-color-hover: #fff;
$buttons-transparent-text-size: 14px;
$buttons-transparent-text-transform: none;
