/* =============================================================================
   FLEXBOX (utilities/_flexbox.scss)
   ========================================================================== */

/* stylelint-disable declaration-no-important */

/* Align Items
   ========================================================================== */

/**
 * Utilities for controlling how flex items are positioned along a container's
 * cross axis.
 */

.u-items-stretch {
	align-items: flex-stretch !important;
}

.u-items-start {
	align-items: flex-start !important;
}

.u-items-center {
	align-items: center !important;
}

.u-items-end {
	align-items: flex-end !important;
}

.u-items-baseline {
	align-items: baseline !important;
}



/* Align Content
   ========================================================================== */

/**
 * Utilities for controlling how lines are positioned in multi-line flex
 * containers.
 */

.u-content-start {
	align-content: flex-start !important;
}

.u-content-center {
	align-content: center !important;
}

.u-content-end {
	align-content: flex-end !important;
}

.u-content-between {
	align-content: space-between !important;
}

.u-content-around {
	align-content: space-around !important;
}



/* Justify Content
   ========================================================================== */

/**
 * Utilities for controlling flex items are positioned along a container's main
 * axis.
 */

.u-justify-start {
	justify-content: flex-start !important;
}

.u-justify-center {
	justify-content: center !important;
}

.u-justify-end {
	justify-content: flex-end !important;
}

.u-justify-between {
	justify-content: space-between !important;
}

.u-justify-around {
	justify-content: space-around !important;
}



/* Order
   ========================================================================== */

/**
 * Utilities for ordering flexbox and grid items.
 */

@each $breakpoint-key, $breakpoint-value in $breakpoints {
	@if $breakpoint-key == xs {
		@for $i from 1 through $grid-columns {
			.u-order-#{$i} {
				order: #{$i} !important;
			}
		}
	} @else {
		@include media-breakpoint-up( #{$breakpoint-key} ) {
			@for $i from 1 through $grid-columns {
				.u-order-#{$i}\@#{$breakpoint-key} {
					order: #{$i} !important;
				}
			}
		}
	}
}
