/* =============================================================================
	OTHER (utilities/_other.scss)
	========================================================================== */

/* stylelint-disable declaration-no-important */

/* SVG
	========================================================================== */

/**
 * Utilities for styling SVG elements.
 */

.u-fill-current {
	fill: currentcolor !important;
}

.u-stroke-current {
	stroke: currentcolor !important;
}

/**
 * Utilities for animating elements.
 */

.u-animation-rollout {
	animation: rollout .1s ease-in-out;
}

.u-animation-fadein {
	animation: fadein .1s ease-in-out;
}

.u-animation-delay-100 {
	animation-delay: 100ms;
}

.u-animation-delay-150 {
	animation-delay: 150ms;
}

.u-animation-delay-200 {
	animation-delay: 200ms;
}

.u-animation-delay-250 {
	animation-delay: 250ms;
}


/**
 * Utilities for displaying elements.
 */

.u-visible\@md {
	@include media-breakpoint-down( md ) {
		display: none;
	}
}

.u-visible\@lg {
	@include media-breakpoint-down( lg ) {
		display: none;
	}
}
