/* =============================================================================
   GRID (objects/_grid.scss)
   ========================================================================== */

/**
 * Flexbox based grid.
 */

/* Container
   ========================================================================== */

.o-container,
.o-container-fluid {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-right: math.div( $grid-gutter, 2 );
	padding-left: math.div( $grid-gutter, 2 );
}

@include grid-container();



/* Row
   ========================================================================== */

.o-row {
	display: flex;
	flex-wrap: wrap;
	margin-right: math.div( $grid-gutter, 2 ) * -1;
	margin-left: math.div( $grid-gutter, 2 ) * -1;
}



/* Column
   ========================================================================== */

[ class^='o-col' ],
[ class*=' o-col' ] {
	position: relative;
	width: 100%;
	padding-right: math.div( $grid-gutter, 2 );
	padding-left: math.div( $grid-gutter, 2 );
}

@include grid-column();

/**
 * Column offsets
 */

@include grid-column-offset();



/* Stacks
   ========================================================================== */

[ class*='o-stack' ] {
	display: flex;
	flex-wrap: wrap;
	margin-right: math.div( $grid-gutter, 2 ) * -1;
	margin-left: math.div( $grid-gutter, 2 ) * -1;

	> * {
		width: 100%;
		padding-right: math.div( $grid-gutter, 2 );
		padding-left: math.div( $grid-gutter, 2 );
	}
}

@include grid-stack();



/* No Gutters
   ========================================================================== */

/**
 * Removing padding from columns inside row to create columns without spacing
 * between them.
 */

.o-row--no-gutters,
.o-stack--no-gutters {
	margin-right: 0;
	margin-left: 0;
}

.o-row--no-gutters > [ class^='o-col' ],
.o-stack--no-gutters > * {
	padding-right: 0;
	padding-left: 0;
}
