/* =============================================================================
   BADGE (components/_badge.scss)
   ========================================================================== */

.c-badge {
	font-size: rem( 10px );
	font-weight: normal;
	padding: rem( 3px ) rem( 8px );
	border-radius: rem( 3px );
	color: #1f1f1f;
}

