/* =============================================================================
   COMPONENT (components/_component.scss)
   ========================================================================== */
iframe {
	border: none;
	height: auto;
	width: 100%;
}

.c-component-preview {
	background-color: #f7f7f7;
	border-radius: rem( 6px ) rem( 6px ) 0 0;
	display: flex;
	justify-content: center;

	&--dark {
		background-color: #000;
	}

	& > * {
		all: unset;
	}

	a {
		cursor: pointer;
	}

	.c-button {
		line-height: 1;
		border-style: solid;
		min-width: rem( 150px );
		text-align: center;
	}
	/*
	.c-button--primary {
		background-color: $buttons-primary-background-color;
		border-color: $buttons-primary-border-color;
		border-radius: rem( $buttons-primary-border-radius );
		border-width: $buttons-primary-border-width;
		color: $buttons-primary-text-color;
		font-size: rem( $buttons-primary-text-size );
		padding-top: rem( $buttons-primary-padding-top );
		padding-right: rem( $buttons-primary-padding-right );
		padding-bottom: rem( $buttons-primary-padding-bottom );
		padding-left: rem( $buttons-primary-padding-left );
		transition: $buttons-transition-speed all ease-in-out;

		&:hover {
			background-color: $buttons-primary-background-color-hover;
			border-color: $buttons-primary-border-color-hover;
			border-width: $buttons-primary-border-width-hover;
			color: $buttons-primary-text-color-hover;
		}
	}

	.c-button--secondary {
		background-color: $buttons-secondary-background-color;
		border-color: $buttons-secondary-border-color;
		border-radius: rem( $buttons-secondary-border-radius );
		border-width: $buttons-secondary-border-width;
		color: $buttons-secondary-text-color;
		font-size: rem( $buttons-secondary-text-size );
		padding-top: rem( $buttons-secondary-padding-top );
		padding-right: rem( $buttons-secondary-padding-right );
		padding-bottom: rem( $buttons-secondary-padding-bottom );
		padding-left: rem( $buttons-secondary-padding-left );
		transition: $buttons-transition-speed all ease-in-out;

		&:hover {
			background-color: $buttons-secondary-background-color-hover;
			border-color: $buttons-secondary-border-color-hover;
			border-width: $buttons-secondary-border-width-hover;
			color: $buttons-secondary-text-color-hover;
		}
	}

	.c-button--transparent {
		background-color: $buttons-transparent-background-color;
		border-color: $buttons-transparent-border-color;
		border-radius: rem( $buttons-transparent-border-radius );
		border-width: $buttons-transparent-border-width;
		color: $buttons-transparent-text-color;
		font-size: rem( $buttons-transparent-text-size );
		padding-top: rem( $buttons-transparent-padding-top );
		padding-right: rem( $buttons-transparent-padding-right );
		padding-bottom: rem( $buttons-transparent-padding-bottom );
		padding-left: rem( $buttons-transparent-padding-left );
		transition: $buttons-transition-speed all ease-in-out;

		&:hover {
			background-color: $buttons-transparent-background-color-hover;
			border-color: $buttons-transparent-border-color-hover;
			border-width: $buttons-transparent-border-width-hover;
			color: $buttons-transparent-text-color-hover;
		}
	}

	.pagination {
		display: flex;
		padding-left: 0;
		list-style: none;
		margin: 0;
		font-size: rem( $pagination-font-size );


		.page-item {
			margin: auto rem( $pagination-margin-y );
		}

		.page-link {
			display: block;
			padding: rem( $pagination-padding-y ) rem( $pagination-padding-x );
			border-radius: rem( $pagination-border-radius );
			border-style: solid;
			border-color: $pagination-border-color;
			border-width: rem( $pagination-border-width );
			background-color: $pagination-bg;

			&:hover {
				background-color: $pagination-hover-bg;
				border-color: $pagination-hover-border-color;
				color: $pagination-hover-color;
				transition: $pagination-transition;
			}
		}

		.disabled > .page-link,
		.page-link.disabled {
			pointer-events: none;
			background-color: $pagination-disabled-bg;
			border-color: $pagination-disabled-border-color;
			color: $pagination-disabled-color;
		}

		.active > .page-link,
		.page-link.active {
			pointer-events: none;
			background-color: $pagination-active-bg;
			border-color: $pagination-active-border-color;
			color: $pagination-active-color;
		}
	}

	.modal {
		.modal-content {
			position: relative;
			display: flex;
			flex-direction: column;
			width: 100%;
			background-color: $modal-content-bg;
			border-radius: rem( $modal-content-border-radius );
			padding: rem( $modal-padding-y ) rem( $modal-padding-x );
		}
	}
	.form-control {
		display: block;
		width: 100%;
		box-sizing: border-box;
		padding: rem( $input-padding-y ) rem( $input-padding-x );
		font-size: rem( $input-font-size );
		border-radius: rem( $input-border-radius );
		border-style: solid;
		border-color: $input-border-color;
		border-width: rem( $input-border-width );
		box-shadow: $input-box-shadow;
		transition: $input-transition;

		&:hover {
			background-color: $input-hover-bg;
			border-color: $input-hover-border-color;
			box-shadow: $input-hover-box-shadow;
			transition: $input-transition;
		}

		&:focus {
			color: $input-focus-color;
			background-color: $input-focus-bg;
			border-color: $input-focus-border-color;
			outline: 0;
			box-shadow: $input-focus-box-shadow;
			transition: $input-transition;
		}

		&::placeholder {
			color: $input-placeholder-color;
			opacity: 1;
		}
	}

	.form-label {
		display: inline-block;
		margin-bottom: rem( $form-label-margin-bottom );
		font-size: rem( $form-label-font-size );
		font-style: $form-label-font-style;
		font-weight: $form-label-font-weight;
		color: $form-label-color;
	}
	*/


	&--column {
		flex-direction: column;

		& > div:first-child {
			margin-bottom: rem( 24px );
		}
	}
}

.c-component-preview {
	.c-button--primary {
		background-color: $button-primary-background;
		border-color: $button-primary-border-color;
		border-radius: rem( $button-primary-border-radius );
		border-width: $button-primary-border-width;
		color: $button-primary-color;
		font-size: rem( $button-primary-font-size );
		padding-top: rem( $button-primary-padding-top );
		padding-right: rem( $button-primary-padding-right );
		padding-bottom: rem( $button-primary-padding-bottom );
		padding-left: rem( $button-primary-padding-left );
		// transition: $button-transition-speed all ease-in-out;

		&:hover {
			background-color: $button-primary-hover-background;
			border-color: $button-primary-hover-border-color;
			border-width: $button-primary-hover-border-width;
			color: $button-primary-hover-color;
		}
	}
}
