/* =============================================================================
   LAYOUT (utilities/_layout.scss)
   ========================================================================== */

/* stylelint-disable declaration-no-important */

/* Display
   ========================================================================== */

/**
 * Utilities for controlling the display box type of an element.
 */

@each $breakpoint-key, $breakpoint-value in $breakpoints {
	@if $breakpoint-key == xs {
		.u-block {
			display: block !important;
		}

		.u-inline-block {
			display: inline-block !important;
		}

		.u-inline {
			display: inline !important;
		}

		.u-hidden {
			display: none !important;
		}

		.u-flex {
			display: flex !important;
		}

		.u-inline-flex {
			display: inline-flex !important;
		}
	} @else {
		@include media-breakpoint-up(#{$breakpoint-key}) {
			.u-block\@#{$breakpoint-key} {
				display: block !important;
			}

			.u-inline-block\@#{$breakpoint-key} {
				display: inline-block !important;
			}

			.u-inline\@#{$breakpoint-key} {
				display: inline !important;
			}

			.u-hidden\@#{$breakpoint-key} {
				display: none !important;
			}

			.u-flex\@#{$breakpoint-key} {
				display: flex !important;
			}

			.u-inline-flex\@#{$breakpoint-key} {
				display: inline-flex !important;
			}
		}
	}
}



/* Floats
   ========================================================================== */

/**
 * Utilities for controlling the wrapping of content around an element.
 */

@each $breakpoint-key, $breakpoint-value in $breakpoints {
	@if $breakpoint-key == xs {
		.u-float-right {
			float: right !important;
		}

		.u-float-left {
			float: left !important;
		}

		.u-float-none {
			float: none !important;
		}
	} @else {
		@include media-breakpoint-up(#{$breakpoint-key}) {
			.u-float-right\@#{$breakpoint-key} {
				float: right !important;
			}

			.u-float-left\@#{$breakpoint-key} {
				float: left !important;
			}

			.u-float-none\@#{$breakpoint-key} {
				float: none !important;
			}
		}
	}
}

/**
 * Clear any floats within an element. Further reading:
 * http://www.cssmojo.com/the-very-latest-clearfix-reloaded/
 */

.u-clearfix {
	&::after {
		content: '';
		display: block;
		clear: both;
	}
}



/* Overflow
   ========================================================================== */

/**
 * Utilities for controlling how an element handles content that is too large
 * for the container.
 */

.u-overflow-auto {
	overflow: auto !important;
}

.u-overflow-hidden {
	overflow: hidden !important;
}

.u-overflow-visible {
	overflow: visible !important;
}

.u-overflow-scroll {
	overflow: scroll !important;
}

.u-overflow-x-scroll {
	overflow-x: auto !important;
}

.u-overflow-y-scroll {
	overflow-y: auto !important;
}



/* Position
   ========================================================================== */

/**
 * Utilities for controlling how an element is positioned in the DOM.
 */

.u-static {
	position: static !important;
}

.u-fixed {
	position: fixed !important;
}

.u-absolute {
	position: absolute !important;
}

.u-relative {
	position: relative !important;
}

.u-sticky {
	position: sticky !important;
}

/**
 * Anchor absolutely positioned element to the spceific edge of the nearest
 * positioned parent.
 */

.u-pin-t {
	top: 0 !important;
}

.u-pin-r {
	right: 0 !important;
}

.u-pin-b {
	bottom: 0 !important;
}

.u-pin-l {
	left: 0 !important;
}
