$button-variants: ( "primary", "custom-type", "outline-secondary", "danger", "light", "dark", "secondary");

$button-sizes: ( "sm", "md", "lg" );

$button-themes: ( "dark", "light" );

$button-states: ( "", "hover", "disabled" );

.btn {

  // button Primary , theme: Dark, state: Default
   --button-primary-dark-background: #0073e6;
  --button-primary-dark-padding-top: 13px;
  --button-primary-dark-padding-right: 20px;
  --button-primary-dark-padding-bottom: 13px;
  --button-primary-dark-padding-left: 20px;
  --button-primary-dark-border-width: 1px;
  --button-primary-dark-border-radius: 4px;
  --button-primary-dark-border-color: transparent;
  --button-primary-dark-font-family: 'Inter';
  --button-primary-dark-font-size: 14px;
  --button-primary-dark-font-weight: 600;
  --button-primary-dark-line-height: 1.2857142639160157;
  --button-primary-dark-letter-spacing: -0.28px;
  --button-primary-dark-text-align: center;
  --button-primary-dark-text-decoration: none;
  --button-primary-dark-text-transform: none;
  --button-primary-dark-color: #ffffff;
  --button-primary-dark-box-shadow: none;
  --button-primary-dark-opacity: 1;

  // button Primary , theme: Dark, state: Hover
   --button-primary-dark-hover-background: #258cf2;
  --button-primary-dark-hover-padding-top: 13px;
  --button-primary-dark-hover-padding-right: 20px;
  --button-primary-dark-hover-padding-bottom: 13px;
  --button-primary-dark-hover-padding-left: 20px;
  --button-primary-dark-hover-border-width: 1px;
  --button-primary-dark-hover-border-radius: 4px;
  --button-primary-dark-hover-border-color: transparent;
  --button-primary-dark-hover-font-family: 'Inter';
  --button-primary-dark-hover-font-size: 14px;
  --button-primary-dark-hover-font-weight: 600;
  --button-primary-dark-hover-line-height: 1.2857142639160157;
  --button-primary-dark-hover-letter-spacing: -0.28px;
  --button-primary-dark-hover-text-align: center;
  --button-primary-dark-hover-text-decoration: none;
  --button-primary-dark-hover-text-transform: none;
  --button-primary-dark-hover-color: #ffffff;
  --button-primary-dark-hover-box-shadow: none;
  --button-primary-dark-hover-opacity: 1;

  // button Primary , theme: Dark, state: Disabled
   --button-primary-dark-disabled-background: #333333;
  --button-primary-dark-disabled-padding-top: 13px;
  --button-primary-dark-disabled-padding-right: 20px;
  --button-primary-dark-disabled-padding-bottom: 13px;
  --button-primary-dark-disabled-padding-left: 20px;
  --button-primary-dark-disabled-border-width: 1px;
  --button-primary-dark-disabled-border-radius: 4px;
  --button-primary-dark-disabled-border-color: transparent;
  --button-primary-dark-disabled-font-family: 'Inter';
  --button-primary-dark-disabled-font-size: 14px;
  --button-primary-dark-disabled-font-weight: 600;
  --button-primary-dark-disabled-line-height: 1.2857142639160157;
  --button-primary-dark-disabled-letter-spacing: -0.28px;
  --button-primary-dark-disabled-text-align: center;
  --button-primary-dark-disabled-text-decoration: none;
  --button-primary-dark-disabled-text-transform: none;
  --button-primary-dark-disabled-color: rgba(255, 255, 255, 0.44999998807907104);
  --button-primary-dark-disabled-box-shadow: none;
  --button-primary-dark-disabled-opacity: 0.699999988079071;

  // button Custom-type , theme: Dark, state: Default
   --button-custom-type-dark-background: #ffc107;
  --button-custom-type-dark-padding-top: 13px;
  --button-custom-type-dark-padding-right: 20px;
  --button-custom-type-dark-padding-bottom: 13px;
  --button-custom-type-dark-padding-left: 20px;
  --button-custom-type-dark-border-width: 1px;
  --button-custom-type-dark-border-radius: 4px;
  --button-custom-type-dark-border-color: transparent;
  --button-custom-type-dark-font-family: 'Inter';
  --button-custom-type-dark-font-size: 14px;
  --button-custom-type-dark-font-weight: 600;
  --button-custom-type-dark-line-height: 1.2857142639160157;
  --button-custom-type-dark-letter-spacing: -0.28px;
  --button-custom-type-dark-text-align: center;
  --button-custom-type-dark-text-decoration: none;
  --button-custom-type-dark-text-transform: none;
  --button-custom-type-dark-color: #333333;
  --button-custom-type-dark-box-shadow: none;
  --button-custom-type-dark-opacity: 1;

  // button Custom-type , theme: Dark, state: Hover
   --button-custom-type-dark-hover-background: #e0aa09, rgba(0, 0, 0, 0.20000000298023224), rgba(0, 0, 0, 0.20000000298023224), rgba(0, 0, 0, 0.20000000298023224);
  --button-custom-type-dark-hover-padding-top: 13px;
  --button-custom-type-dark-hover-padding-right: 20px;
  --button-custom-type-dark-hover-padding-bottom: 13px;
  --button-custom-type-dark-hover-padding-left: 20px;
  --button-custom-type-dark-hover-border-width: 1px;
  --button-custom-type-dark-hover-border-radius: 4px;
  --button-custom-type-dark-hover-border-color: #c32b3a;
  --button-custom-type-dark-hover-font-family: 'Inter';
  --button-custom-type-dark-hover-font-size: 14px;
  --button-custom-type-dark-hover-font-weight: 600;
  --button-custom-type-dark-hover-line-height: 1.2857142639160157;
  --button-custom-type-dark-hover-letter-spacing: -0.28px;
  --button-custom-type-dark-hover-text-align: center;
  --button-custom-type-dark-hover-text-decoration: none;
  --button-custom-type-dark-hover-text-transform: none;
  --button-custom-type-dark-hover-color: #c32b3a;
  --button-custom-type-dark-hover-box-shadow: none;
  --button-custom-type-dark-hover-opacity: 1;

  // button Custom-type , theme: Dark, state: Disabled
   --button-custom-type-dark-disabled-background: #333333;
  --button-custom-type-dark-disabled-padding-top: 13px;
  --button-custom-type-dark-disabled-padding-right: 20px;
  --button-custom-type-dark-disabled-padding-bottom: 13px;
  --button-custom-type-dark-disabled-padding-left: 20px;
  --button-custom-type-dark-disabled-border-width: 1px;
  --button-custom-type-dark-disabled-border-radius: 4px;
  --button-custom-type-dark-disabled-border-color: transparent;
  --button-custom-type-dark-disabled-font-family: 'Inter';
  --button-custom-type-dark-disabled-font-size: 14px;
  --button-custom-type-dark-disabled-font-weight: 600;
  --button-custom-type-dark-disabled-line-height: 1.2857142639160157;
  --button-custom-type-dark-disabled-letter-spacing: -0.28px;
  --button-custom-type-dark-disabled-text-align: center;
  --button-custom-type-dark-disabled-text-decoration: none;
  --button-custom-type-dark-disabled-text-transform: none;
  --button-custom-type-dark-disabled-color: rgba(255, 255, 255, 0.44999998807907104);
  --button-custom-type-dark-disabled-box-shadow: none;
  --button-custom-type-dark-disabled-opacity: 0.699999988079071;

  // button Outline-secondary , theme: Dark, state: Default
   --button-outline-secondary-dark-background: transparent;
  --button-outline-secondary-dark-padding-top: 13px;
  --button-outline-secondary-dark-padding-right: 20px;
  --button-outline-secondary-dark-padding-bottom: 13px;
  --button-outline-secondary-dark-padding-left: 20px;
  --button-outline-secondary-dark-border-width: 1px;
  --button-outline-secondary-dark-border-radius: 4px;
  --button-outline-secondary-dark-border-color: #4c34b6;
  --button-outline-secondary-dark-font-family: 'Inter';
  --button-outline-secondary-dark-font-size: 14px;
  --button-outline-secondary-dark-font-weight: 600;
  --button-outline-secondary-dark-line-height: 1.2857142639160157;
  --button-outline-secondary-dark-letter-spacing: -0.28px;
  --button-outline-secondary-dark-text-align: center;
  --button-outline-secondary-dark-text-decoration: none;
  --button-outline-secondary-dark-text-transform: none;
  --button-outline-secondary-dark-color: #4c34b6;
  --button-outline-secondary-dark-box-shadow: none;
  --button-outline-secondary-dark-opacity: 1;

  // button Outline-secondary , theme: Dark, state: Hover
   --button-outline-secondary-dark-hover-background: transparent;
  --button-outline-secondary-dark-hover-padding-top: 13px;
  --button-outline-secondary-dark-hover-padding-right: 20px;
  --button-outline-secondary-dark-hover-padding-bottom: 13px;
  --button-outline-secondary-dark-hover-padding-left: 20px;
  --button-outline-secondary-dark-hover-border-width: 1px;
  --button-outline-secondary-dark-hover-border-radius: 4px;
  --button-outline-secondary-dark-hover-border-color: #7158dd;
  --button-outline-secondary-dark-hover-font-family: 'Inter';
  --button-outline-secondary-dark-hover-font-size: 14px;
  --button-outline-secondary-dark-hover-font-weight: 600;
  --button-outline-secondary-dark-hover-line-height: 1.2857142639160157;
  --button-outline-secondary-dark-hover-letter-spacing: -0.28px;
  --button-outline-secondary-dark-hover-text-align: center;
  --button-outline-secondary-dark-hover-text-decoration: none;
  --button-outline-secondary-dark-hover-text-transform: none;
  --button-outline-secondary-dark-hover-color: #7158dd;
  --button-outline-secondary-dark-hover-box-shadow: none;
  --button-outline-secondary-dark-hover-opacity: 1;

  // button Outline-secondary , theme: Dark, state: Disabled
   --button-outline-secondary-dark-disabled-background: #333333;
  --button-outline-secondary-dark-disabled-padding-top: 13px;
  --button-outline-secondary-dark-disabled-padding-right: 20px;
  --button-outline-secondary-dark-disabled-padding-bottom: 13px;
  --button-outline-secondary-dark-disabled-padding-left: 20px;
  --button-outline-secondary-dark-disabled-border-width: 1px;
  --button-outline-secondary-dark-disabled-border-radius: 4px;
  --button-outline-secondary-dark-disabled-border-color: transparent;
  --button-outline-secondary-dark-disabled-font-family: 'Inter';
  --button-outline-secondary-dark-disabled-font-size: 14px;
  --button-outline-secondary-dark-disabled-font-weight: 600;
  --button-outline-secondary-dark-disabled-line-height: 1.2857142639160157;
  --button-outline-secondary-dark-disabled-letter-spacing: -0.28px;
  --button-outline-secondary-dark-disabled-text-align: center;
  --button-outline-secondary-dark-disabled-text-decoration: none;
  --button-outline-secondary-dark-disabled-text-transform: none;
  --button-outline-secondary-dark-disabled-color: rgba(255, 255, 255, 0.44999998807907104);
  --button-outline-secondary-dark-disabled-box-shadow: none;
  --button-outline-secondary-dark-disabled-opacity: 0.699999988079071;

  // button Danger , theme: Dark, state: Default
   --button-danger-dark-background: #dc3545;
  --button-danger-dark-padding-top: 13px;
  --button-danger-dark-padding-right: 20px;
  --button-danger-dark-padding-bottom: 13px;
  --button-danger-dark-padding-left: 20px;
  --button-danger-dark-border-width: 1px;
  --button-danger-dark-border-radius: 4px;
  --button-danger-dark-border-color: transparent;
  --button-danger-dark-font-family: 'Inter';
  --button-danger-dark-font-size: 14px;
  --button-danger-dark-font-weight: 600;
  --button-danger-dark-line-height: 1.2857142639160157;
  --button-danger-dark-letter-spacing: -0.28px;
  --button-danger-dark-text-align: center;
  --button-danger-dark-text-decoration: none;
  --button-danger-dark-text-transform: none;
  --button-danger-dark-color: #ffffff;
  --button-danger-dark-box-shadow: none;
  --button-danger-dark-opacity: 1;

  // button Danger , theme: Dark, state: Hover
   --button-danger-dark-hover-background: #f35d6c;
  --button-danger-dark-hover-padding-top: 13px;
  --button-danger-dark-hover-padding-right: 20px;
  --button-danger-dark-hover-padding-bottom: 13px;
  --button-danger-dark-hover-padding-left: 20px;
  --button-danger-dark-hover-border-width: 1px;
  --button-danger-dark-hover-border-radius: 4px;
  --button-danger-dark-hover-border-color: transparent;
  --button-danger-dark-hover-font-family: 'Inter';
  --button-danger-dark-hover-font-size: 14px;
  --button-danger-dark-hover-font-weight: 600;
  --button-danger-dark-hover-line-height: 1.2857142639160157;
  --button-danger-dark-hover-letter-spacing: -0.28px;
  --button-danger-dark-hover-text-align: center;
  --button-danger-dark-hover-text-decoration: none;
  --button-danger-dark-hover-text-transform: none;
  --button-danger-dark-hover-color: #ffffff;
  --button-danger-dark-hover-box-shadow: none;
  --button-danger-dark-hover-opacity: 1;

  // button Danger , theme: Dark, state: Disabled
   --button-danger-dark-disabled-background: #333333;
  --button-danger-dark-disabled-padding-top: 13px;
  --button-danger-dark-disabled-padding-right: 20px;
  --button-danger-dark-disabled-padding-bottom: 13px;
  --button-danger-dark-disabled-padding-left: 20px;
  --button-danger-dark-disabled-border-width: 1px;
  --button-danger-dark-disabled-border-radius: 4px;
  --button-danger-dark-disabled-border-color: transparent;
  --button-danger-dark-disabled-font-family: 'Inter';
  --button-danger-dark-disabled-font-size: 14px;
  --button-danger-dark-disabled-font-weight: 600;
  --button-danger-dark-disabled-line-height: 1.2857142639160157;
  --button-danger-dark-disabled-letter-spacing: -0.28px;
  --button-danger-dark-disabled-text-align: center;
  --button-danger-dark-disabled-text-decoration: none;
  --button-danger-dark-disabled-text-transform: none;
  --button-danger-dark-disabled-color: rgba(255, 255, 255, 0.44999998807907104);
  --button-danger-dark-disabled-box-shadow: none;
  --button-danger-dark-disabled-opacity: 0.699999988079071;

  // button Light , theme: Dark, state: Default
   --button-light-dark-background: #ffffff;
  --button-light-dark-padding-top: 13px;
  --button-light-dark-padding-right: 20px;
  --button-light-dark-padding-bottom: 13px;
  --button-light-dark-padding-left: 20px;
  --button-light-dark-border-width: 1px;
  --button-light-dark-border-radius: 4px;
  --button-light-dark-border-color: transparent;
  --button-light-dark-font-family: 'Inter';
  --button-light-dark-font-size: 14px;
  --button-light-dark-font-weight: 600;
  --button-light-dark-line-height: 1.2857142639160157;
  --button-light-dark-letter-spacing: -0.28px;
  --button-light-dark-text-align: center;
  --button-light-dark-text-decoration: none;
  --button-light-dark-text-transform: none;
  --button-light-dark-color: #000000;
  --button-light-dark-box-shadow: none;
  --button-light-dark-opacity: 1;

  // button Light , theme: Dark, state: Hover
   --button-light-dark-hover-background: #ffffff;
  --button-light-dark-hover-padding-top: 13px;
  --button-light-dark-hover-padding-right: 20px;
  --button-light-dark-hover-padding-bottom: 13px;
  --button-light-dark-hover-padding-left: 20px;
  --button-light-dark-hover-border-width: 1px;
  --button-light-dark-hover-border-radius: 4px;
  --button-light-dark-hover-border-color: transparent;
  --button-light-dark-hover-font-family: 'Inter';
  --button-light-dark-hover-font-size: 14px;
  --button-light-dark-hover-font-weight: 600;
  --button-light-dark-hover-line-height: 1.2857142639160157;
  --button-light-dark-hover-letter-spacing: -0.28px;
  --button-light-dark-hover-text-align: center;
  --button-light-dark-hover-text-decoration: none;
  --button-light-dark-hover-text-transform: none;
  --button-light-dark-hover-color: #0073e6;
  --button-light-dark-hover-box-shadow: none;
  --button-light-dark-hover-opacity: 1;

  // button Light , theme: Dark, state: Disabled
   --button-light-dark-disabled-background: #333333;
  --button-light-dark-disabled-padding-top: 13px;
  --button-light-dark-disabled-padding-right: 20px;
  --button-light-dark-disabled-padding-bottom: 13px;
  --button-light-dark-disabled-padding-left: 20px;
  --button-light-dark-disabled-border-width: 1px;
  --button-light-dark-disabled-border-radius: 4px;
  --button-light-dark-disabled-border-color: transparent;
  --button-light-dark-disabled-font-family: 'Inter';
  --button-light-dark-disabled-font-size: 14px;
  --button-light-dark-disabled-font-weight: 600;
  --button-light-dark-disabled-line-height: 1.2857142639160157;
  --button-light-dark-disabled-letter-spacing: -0.28px;
  --button-light-dark-disabled-text-align: center;
  --button-light-dark-disabled-text-decoration: none;
  --button-light-dark-disabled-text-transform: none;
  --button-light-dark-disabled-color: rgba(255, 255, 255, 0.44999998807907104);
  --button-light-dark-disabled-box-shadow: none;
  --button-light-dark-disabled-opacity: 0.699999988079071;

  // button Dark , theme: Dark, state: Default
   --button-dark-dark-background: #333333;
  --button-dark-dark-padding-top: 13px;
  --button-dark-dark-padding-right: 20px;
  --button-dark-dark-padding-bottom: 13px;
  --button-dark-dark-padding-left: 20px;
  --button-dark-dark-border-width: 1px;
  --button-dark-dark-border-radius: 4px;
  --button-dark-dark-border-color: transparent;
  --button-dark-dark-font-family: 'Inter';
  --button-dark-dark-font-size: 14px;
  --button-dark-dark-font-weight: 600;
  --button-dark-dark-line-height: 1.2857142639160157;
  --button-dark-dark-letter-spacing: -0.28px;
  --button-dark-dark-text-align: center;
  --button-dark-dark-text-decoration: none;
  --button-dark-dark-text-transform: none;
  --button-dark-dark-color: #ffffff;
  --button-dark-dark-box-shadow: none;
  --button-dark-dark-opacity: 1;

  // button Dark , theme: Dark, state: Hover
   --button-dark-dark-hover-background: #0f69c1;
  --button-dark-dark-hover-padding-top: 13px;
  --button-dark-dark-hover-padding-right: 20px;
  --button-dark-dark-hover-padding-bottom: 13px;
  --button-dark-dark-hover-padding-left: 20px;
  --button-dark-dark-hover-border-width: 1px;
  --button-dark-dark-hover-border-radius: 4px;
  --button-dark-dark-hover-border-color: transparent;
  --button-dark-dark-hover-font-family: 'Inter';
  --button-dark-dark-hover-font-size: 14px;
  --button-dark-dark-hover-font-weight: 600;
  --button-dark-dark-hover-line-height: 1.2857142639160157;
  --button-dark-dark-hover-letter-spacing: -0.28px;
  --button-dark-dark-hover-text-align: center;
  --button-dark-dark-hover-text-decoration: none;
  --button-dark-dark-hover-text-transform: none;
  --button-dark-dark-hover-color: #ffffff;
  --button-dark-dark-hover-box-shadow: none;
  --button-dark-dark-hover-opacity: 1;

  // button Dark , theme: Dark, state: Disabled
   --button-dark-dark-disabled-background: #333333;
  --button-dark-dark-disabled-padding-top: 13px;
  --button-dark-dark-disabled-padding-right: 20px;
  --button-dark-dark-disabled-padding-bottom: 13px;
  --button-dark-dark-disabled-padding-left: 20px;
  --button-dark-dark-disabled-border-width: 1px;
  --button-dark-dark-disabled-border-radius: 4px;
  --button-dark-dark-disabled-border-color: transparent;
  --button-dark-dark-disabled-font-family: 'Inter';
  --button-dark-dark-disabled-font-size: 14px;
  --button-dark-dark-disabled-font-weight: 600;
  --button-dark-dark-disabled-line-height: 1.2857142639160157;
  --button-dark-dark-disabled-letter-spacing: -0.28px;
  --button-dark-dark-disabled-text-align: center;
  --button-dark-dark-disabled-text-decoration: none;
  --button-dark-dark-disabled-text-transform: none;
  --button-dark-dark-disabled-color: rgba(255, 255, 255, 0.44999998807907104);
  --button-dark-dark-disabled-box-shadow: none;
  --button-dark-dark-disabled-opacity: 0.699999988079071;

  // button Secondary , theme: Dark, state: Default
   --button-secondary-dark-background: #4c34b6;
  --button-secondary-dark-padding-top: 13px;
  --button-secondary-dark-padding-right: 20px;
  --button-secondary-dark-padding-bottom: 13px;
  --button-secondary-dark-padding-left: 20px;
  --button-secondary-dark-border-width: 1px;
  --button-secondary-dark-border-radius: 4px;
  --button-secondary-dark-border-color: transparent;
  --button-secondary-dark-font-family: 'Inter';
  --button-secondary-dark-font-size: 14px;
  --button-secondary-dark-font-weight: 600;
  --button-secondary-dark-line-height: 1.2857142639160157;
  --button-secondary-dark-letter-spacing: -0.28px;
  --button-secondary-dark-text-align: center;
  --button-secondary-dark-text-decoration: none;
  --button-secondary-dark-text-transform: none;
  --button-secondary-dark-color: #ffffff;
  --button-secondary-dark-box-shadow: none;
  --button-secondary-dark-opacity: 1;

  // button Secondary , theme: Dark, state: Hover
   --button-secondary-dark-hover-background: #7158dd;
  --button-secondary-dark-hover-padding-top: 13px;
  --button-secondary-dark-hover-padding-right: 20px;
  --button-secondary-dark-hover-padding-bottom: 13px;
  --button-secondary-dark-hover-padding-left: 20px;
  --button-secondary-dark-hover-border-width: 1px;
  --button-secondary-dark-hover-border-radius: 4px;
  --button-secondary-dark-hover-border-color: transparent;
  --button-secondary-dark-hover-font-family: 'Inter';
  --button-secondary-dark-hover-font-size: 14px;
  --button-secondary-dark-hover-font-weight: 600;
  --button-secondary-dark-hover-line-height: 1.2857142639160157;
  --button-secondary-dark-hover-letter-spacing: -0.28px;
  --button-secondary-dark-hover-text-align: center;
  --button-secondary-dark-hover-text-decoration: none;
  --button-secondary-dark-hover-text-transform: none;
  --button-secondary-dark-hover-color: #ffffff;
  --button-secondary-dark-hover-box-shadow: none;
  --button-secondary-dark-hover-opacity: 1;

  // button Secondary , theme: Dark, state: Disabled
   --button-secondary-dark-disabled-background: #333333;
  --button-secondary-dark-disabled-padding-top: 13px;
  --button-secondary-dark-disabled-padding-right: 20px;
  --button-secondary-dark-disabled-padding-bottom: 13px;
  --button-secondary-dark-disabled-padding-left: 20px;
  --button-secondary-dark-disabled-border-width: 1px;
  --button-secondary-dark-disabled-border-radius: 4px;
  --button-secondary-dark-disabled-border-color: transparent;
  --button-secondary-dark-disabled-font-family: 'Inter';
  --button-secondary-dark-disabled-font-size: 14px;
  --button-secondary-dark-disabled-font-weight: 600;
  --button-secondary-dark-disabled-line-height: 1.2857142639160157;
  --button-secondary-dark-disabled-letter-spacing: -0.28px;
  --button-secondary-dark-disabled-text-align: center;
  --button-secondary-dark-disabled-text-decoration: none;
  --button-secondary-dark-disabled-text-transform: none;
  --button-secondary-dark-disabled-color: rgba(255, 255, 255, 0.44999998807907104);
  --button-secondary-dark-disabled-box-shadow: none;
  --button-secondary-dark-disabled-opacity: 0.699999988079071;

  // button Primary , theme: Light, state: Default
   --button-primary-background: #0073e6;
  --button-primary-padding-top: 13px;
  --button-primary-padding-right: 20px;
  --button-primary-padding-bottom: 13px;
  --button-primary-padding-left: 20px;
  --button-primary-border-width: 1px;
  --button-primary-border-radius: 4px;
  --button-primary-border-color: transparent;
  --button-primary-font-family: 'Inter';
  --button-primary-font-size: 14px;
  --button-primary-font-weight: 600;
  --button-primary-line-height: 1.2857142639160157;
  --button-primary-letter-spacing: -0.28px;
  --button-primary-text-align: center;
  --button-primary-text-decoration: none;
  --button-primary-text-transform: none;
  --button-primary-color: #ffffff;
  --button-primary-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07999999821186066);
  --button-primary-opacity: 1;

  // button Primary , theme: Light, state: Hover
   --button-primary-hover-background: #0f69c1;
  --button-primary-hover-padding-top: 13px;
  --button-primary-hover-padding-right: 20px;
  --button-primary-hover-padding-bottom: 13px;
  --button-primary-hover-padding-left: 20px;
  --button-primary-hover-border-width: 1px;
  --button-primary-hover-border-radius: 4px;
  --button-primary-hover-border-color: transparent;
  --button-primary-hover-font-family: 'Inter';
  --button-primary-hover-font-size: 14px;
  --button-primary-hover-font-weight: 600;
  --button-primary-hover-line-height: 1.2857142639160157;
  --button-primary-hover-letter-spacing: -0.28px;
  --button-primary-hover-text-align: center;
  --button-primary-hover-text-decoration: none;
  --button-primary-hover-text-transform: none;
  --button-primary-hover-color: #ffffff;
  --button-primary-hover-box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.20000000298023224);
  --button-primary-hover-opacity: 1;

  // button Primary , theme: Light, state: Disabled
   --button-primary-disabled-background: #e5e5e5;
  --button-primary-disabled-padding-top: 13px;
  --button-primary-disabled-padding-right: 20px;
  --button-primary-disabled-padding-bottom: 13px;
  --button-primary-disabled-padding-left: 20px;
  --button-primary-disabled-border-width: 1px;
  --button-primary-disabled-border-radius: 4px;
  --button-primary-disabled-border-color: transparent;
  --button-primary-disabled-font-family: 'Inter';
  --button-primary-disabled-font-size: 14px;
  --button-primary-disabled-font-weight: 600;
  --button-primary-disabled-line-height: 1.2857142639160157;
  --button-primary-disabled-letter-spacing: -0.28px;
  --button-primary-disabled-text-align: center;
  --button-primary-disabled-text-decoration: none;
  --button-primary-disabled-text-transform: none;
  --button-primary-disabled-color: #777777;
  --button-primary-disabled-box-shadow: none;
  --button-primary-disabled-opacity: 0.699999988079071;

  // button Custom-type , theme: Light, state: Default
   --button-custom-type-background: #ffc107;
  --button-custom-type-padding-top: 13px;
  --button-custom-type-padding-right: 20px;
  --button-custom-type-padding-bottom: 13px;
  --button-custom-type-padding-left: 20px;
  --button-custom-type-border-width: 1px;
  --button-custom-type-border-radius: 4px;
  --button-custom-type-border-color: transparent;
  --button-custom-type-font-family: 'Inter';
  --button-custom-type-font-size: 14px;
  --button-custom-type-font-weight: 600;
  --button-custom-type-line-height: 1.2857142639160157;
  --button-custom-type-letter-spacing: -0.28px;
  --button-custom-type-text-align: center;
  --button-custom-type-text-decoration: none;
  --button-custom-type-text-transform: none;
  --button-custom-type-color: #333333;
  --button-custom-type-box-shadow: none;
  --button-custom-type-opacity: 1;

  // button Custom-type , theme: Light, state: Hover
   --button-custom-type-hover-background: #e5ae06;
  --button-custom-type-hover-padding-top: 13px;
  --button-custom-type-hover-padding-right: 20px;
  --button-custom-type-hover-padding-bottom: 13px;
  --button-custom-type-hover-padding-left: 20px;
  --button-custom-type-hover-border-width: 1px;
  --button-custom-type-hover-border-radius: 4px;
  --button-custom-type-hover-border-color: #c32b3a;
  --button-custom-type-hover-font-family: 'Inter';
  --button-custom-type-hover-font-size: 14px;
  --button-custom-type-hover-font-weight: 600;
  --button-custom-type-hover-line-height: 1.2857142639160157;
  --button-custom-type-hover-letter-spacing: -0.28px;
  --button-custom-type-hover-text-align: center;
  --button-custom-type-hover-text-decoration: none;
  --button-custom-type-hover-text-transform: none;
  --button-custom-type-hover-color: #c32b3a;
  --button-custom-type-hover-box-shadow: none;
  --button-custom-type-hover-opacity: 1;

  // button Custom-type , theme: Light, state: Disabled
   --button-custom-type-disabled-background: #e5e5e5;
  --button-custom-type-disabled-padding-top: 13px;
  --button-custom-type-disabled-padding-right: 20px;
  --button-custom-type-disabled-padding-bottom: 13px;
  --button-custom-type-disabled-padding-left: 20px;
  --button-custom-type-disabled-border-width: 1px;
  --button-custom-type-disabled-border-radius: 4px;
  --button-custom-type-disabled-border-color: transparent;
  --button-custom-type-disabled-font-family: 'Inter';
  --button-custom-type-disabled-font-size: 14px;
  --button-custom-type-disabled-font-weight: 600;
  --button-custom-type-disabled-line-height: 1.2857142639160157;
  --button-custom-type-disabled-letter-spacing: -0.28px;
  --button-custom-type-disabled-text-align: center;
  --button-custom-type-disabled-text-decoration: none;
  --button-custom-type-disabled-text-transform: none;
  --button-custom-type-disabled-color: #777777;
  --button-custom-type-disabled-box-shadow: none;
  --button-custom-type-disabled-opacity: 0.699999988079071;

  // button Outline-secondary , theme: Light, state: Default
   --button-outline-secondary-background: transparent;
  --button-outline-secondary-padding-top: 13px;
  --button-outline-secondary-padding-right: 20px;
  --button-outline-secondary-padding-bottom: 13px;
  --button-outline-secondary-padding-left: 20px;
  --button-outline-secondary-border-width: 1px;
  --button-outline-secondary-border-radius: 4px;
  --button-outline-secondary-border-color: #4c34b6;
  --button-outline-secondary-font-family: 'Inter';
  --button-outline-secondary-font-size: 14px;
  --button-outline-secondary-font-weight: 600;
  --button-outline-secondary-line-height: 1.2857142639160157;
  --button-outline-secondary-letter-spacing: -0.28px;
  --button-outline-secondary-text-align: center;
  --button-outline-secondary-text-decoration: none;
  --button-outline-secondary-text-transform: none;
  --button-outline-secondary-color: #4c34b6;
  --button-outline-secondary-box-shadow: none;
  --button-outline-secondary-opacity: 1;

  // button Outline-secondary , theme: Light, state: Hover
   --button-outline-secondary-hover-background: transparent;
  --button-outline-secondary-hover-padding-top: 13px;
  --button-outline-secondary-hover-padding-right: 20px;
  --button-outline-secondary-hover-padding-bottom: 13px;
  --button-outline-secondary-hover-padding-left: 20px;
  --button-outline-secondary-hover-border-width: 1px;
  --button-outline-secondary-hover-border-radius: 4px;
  --button-outline-secondary-hover-border-color: #3b2794;
  --button-outline-secondary-hover-font-family: 'Inter';
  --button-outline-secondary-hover-font-size: 14px;
  --button-outline-secondary-hover-font-weight: 600;
  --button-outline-secondary-hover-line-height: 1.2857142639160157;
  --button-outline-secondary-hover-letter-spacing: -0.28px;
  --button-outline-secondary-hover-text-align: center;
  --button-outline-secondary-hover-text-decoration: none;
  --button-outline-secondary-hover-text-transform: none;
  --button-outline-secondary-hover-color: #3b2794;
  --button-outline-secondary-hover-box-shadow: none;
  --button-outline-secondary-hover-opacity: 1;

  // button Outline-secondary , theme: Light, state: Disabled
   --button-outline-secondary-disabled-background: #e5e5e5;
  --button-outline-secondary-disabled-padding-top: 13px;
  --button-outline-secondary-disabled-padding-right: 20px;
  --button-outline-secondary-disabled-padding-bottom: 13px;
  --button-outline-secondary-disabled-padding-left: 20px;
  --button-outline-secondary-disabled-border-width: 1px;
  --button-outline-secondary-disabled-border-radius: 4px;
  --button-outline-secondary-disabled-border-color: transparent;
  --button-outline-secondary-disabled-font-family: 'Inter';
  --button-outline-secondary-disabled-font-size: 14px;
  --button-outline-secondary-disabled-font-weight: 600;
  --button-outline-secondary-disabled-line-height: 1.2857142639160157;
  --button-outline-secondary-disabled-letter-spacing: -0.28px;
  --button-outline-secondary-disabled-text-align: center;
  --button-outline-secondary-disabled-text-decoration: none;
  --button-outline-secondary-disabled-text-transform: none;
  --button-outline-secondary-disabled-color: #777777;
  --button-outline-secondary-disabled-box-shadow: none;
  --button-outline-secondary-disabled-opacity: 0.699999988079071;

  // button Danger , theme: Light, state: Default
   --button-danger-background: #dc3545;
  --button-danger-padding-top: 13px;
  --button-danger-padding-right: 20px;
  --button-danger-padding-bottom: 13px;
  --button-danger-padding-left: 20px;
  --button-danger-border-width: 1px;
  --button-danger-border-radius: 4px;
  --button-danger-border-color: transparent;
  --button-danger-font-family: 'Inter';
  --button-danger-font-size: 14px;
  --button-danger-font-weight: 600;
  --button-danger-line-height: 1.2857142639160157;
  --button-danger-letter-spacing: -0.28px;
  --button-danger-text-align: center;
  --button-danger-text-decoration: none;
  --button-danger-text-transform: none;
  --button-danger-color: #ffffff;
  --button-danger-box-shadow: none;
  --button-danger-opacity: 1;

  // button Danger , theme: Light, state: Hover
   --button-danger-hover-background: #c32b3a;
  --button-danger-hover-padding-top: 13px;
  --button-danger-hover-padding-right: 20px;
  --button-danger-hover-padding-bottom: 13px;
  --button-danger-hover-padding-left: 20px;
  --button-danger-hover-border-width: 1px;
  --button-danger-hover-border-radius: 4px;
  --button-danger-hover-border-color: transparent;
  --button-danger-hover-font-family: 'Inter';
  --button-danger-hover-font-size: 14px;
  --button-danger-hover-font-weight: 600;
  --button-danger-hover-line-height: 1.2857142639160157;
  --button-danger-hover-letter-spacing: -0.28px;
  --button-danger-hover-text-align: center;
  --button-danger-hover-text-decoration: none;
  --button-danger-hover-text-transform: none;
  --button-danger-hover-color: #ffffff;
  --button-danger-hover-box-shadow: none;
  --button-danger-hover-opacity: 1;

  // button Danger , theme: Light, state: Disabled
   --button-danger-disabled-background: #e5e5e5;
  --button-danger-disabled-padding-top: 13px;
  --button-danger-disabled-padding-right: 20px;
  --button-danger-disabled-padding-bottom: 13px;
  --button-danger-disabled-padding-left: 20px;
  --button-danger-disabled-border-width: 1px;
  --button-danger-disabled-border-radius: 4px;
  --button-danger-disabled-border-color: transparent;
  --button-danger-disabled-font-family: 'Inter';
  --button-danger-disabled-font-size: 14px;
  --button-danger-disabled-font-weight: 600;
  --button-danger-disabled-line-height: 1.2857142639160157;
  --button-danger-disabled-letter-spacing: -0.28px;
  --button-danger-disabled-text-align: center;
  --button-danger-disabled-text-decoration: none;
  --button-danger-disabled-text-transform: none;
  --button-danger-disabled-color: #777777;
  --button-danger-disabled-box-shadow: none;
  --button-danger-disabled-opacity: 0.699999988079071;

  // button Light , theme: Light, state: Default
   --button-light-background: #dcedff;
  --button-light-padding-top: 13px;
  --button-light-padding-right: 20px;
  --button-light-padding-bottom: 13px;
  --button-light-padding-left: 20px;
  --button-light-border-width: 1px;
  --button-light-border-radius: 4px;
  --button-light-border-color: transparent;
  --button-light-font-family: 'Inter';
  --button-light-font-size: 14px;
  --button-light-font-weight: 600;
  --button-light-line-height: 1.2857142639160157;
  --button-light-letter-spacing: -0.28px;
  --button-light-text-align: center;
  --button-light-text-decoration: none;
  --button-light-text-transform: none;
  --button-light-color: #000000;
  --button-light-box-shadow: none;
  --button-light-opacity: 1;

  // button Light , theme: Light, state: Hover
   --button-light-hover-background: #c8e1fc;
  --button-light-hover-padding-top: 13px;
  --button-light-hover-padding-right: 20px;
  --button-light-hover-padding-bottom: 13px;
  --button-light-hover-padding-left: 20px;
  --button-light-hover-border-width: 1px;
  --button-light-hover-border-radius: 4px;
  --button-light-hover-border-color: transparent;
  --button-light-hover-font-family: 'Inter';
  --button-light-hover-font-size: 14px;
  --button-light-hover-font-weight: 600;
  --button-light-hover-line-height: 1.2857142639160157;
  --button-light-hover-letter-spacing: -0.28px;
  --button-light-hover-text-align: center;
  --button-light-hover-text-decoration: none;
  --button-light-hover-text-transform: none;
  --button-light-hover-color: #0073e6;
  --button-light-hover-box-shadow: none;
  --button-light-hover-opacity: 1;

  // button Light , theme: Light, state: Disabled
   --button-light-disabled-background: #e5e5e5;
  --button-light-disabled-padding-top: 13px;
  --button-light-disabled-padding-right: 20px;
  --button-light-disabled-padding-bottom: 13px;
  --button-light-disabled-padding-left: 20px;
  --button-light-disabled-border-width: 1px;
  --button-light-disabled-border-radius: 4px;
  --button-light-disabled-border-color: transparent;
  --button-light-disabled-font-family: 'Inter';
  --button-light-disabled-font-size: 14px;
  --button-light-disabled-font-weight: 600;
  --button-light-disabled-line-height: 1.2857142639160157;
  --button-light-disabled-letter-spacing: -0.28px;
  --button-light-disabled-text-align: center;
  --button-light-disabled-text-decoration: none;
  --button-light-disabled-text-transform: none;
  --button-light-disabled-color: #777777;
  --button-light-disabled-box-shadow: none;
  --button-light-disabled-opacity: 0.699999988079071;

  // button Dark , theme: Light, state: Default
   --button-dark-background: #191919;
  --button-dark-padding-top: 13px;
  --button-dark-padding-right: 20px;
  --button-dark-padding-bottom: 13px;
  --button-dark-padding-left: 20px;
  --button-dark-border-width: 1px;
  --button-dark-border-radius: 4px;
  --button-dark-border-color: transparent;
  --button-dark-font-family: 'Inter';
  --button-dark-font-size: 14px;
  --button-dark-font-weight: 600;
  --button-dark-line-height: 1.2857142639160157;
  --button-dark-letter-spacing: -0.28px;
  --button-dark-text-align: center;
  --button-dark-text-decoration: none;
  --button-dark-text-transform: none;
  --button-dark-color: #ffffff;
  --button-dark-box-shadow: none;
  --button-dark-opacity: 1;

  // button Dark , theme: Light, state: Hover
   --button-dark-hover-background: #000000;
  --button-dark-hover-padding-top: 13px;
  --button-dark-hover-padding-right: 20px;
  --button-dark-hover-padding-bottom: 13px;
  --button-dark-hover-padding-left: 20px;
  --button-dark-hover-border-width: 1px;
  --button-dark-hover-border-radius: 4px;
  --button-dark-hover-border-color: transparent;
  --button-dark-hover-font-family: 'Inter';
  --button-dark-hover-font-size: 14px;
  --button-dark-hover-font-weight: 600;
  --button-dark-hover-line-height: 1.2857142639160157;
  --button-dark-hover-letter-spacing: -0.28px;
  --button-dark-hover-text-align: center;
  --button-dark-hover-text-decoration: none;
  --button-dark-hover-text-transform: none;
  --button-dark-hover-color: #ffffff;
  --button-dark-hover-box-shadow: none;
  --button-dark-hover-opacity: 1;

  // button Dark , theme: Light, state: Disabled
   --button-dark-disabled-background: #e5e5e5;
  --button-dark-disabled-padding-top: 13px;
  --button-dark-disabled-padding-right: 20px;
  --button-dark-disabled-padding-bottom: 13px;
  --button-dark-disabled-padding-left: 20px;
  --button-dark-disabled-border-width: 1px;
  --button-dark-disabled-border-radius: 4px;
  --button-dark-disabled-border-color: transparent;
  --button-dark-disabled-font-family: 'Inter';
  --button-dark-disabled-font-size: 14px;
  --button-dark-disabled-font-weight: 600;
  --button-dark-disabled-line-height: 1.2857142639160157;
  --button-dark-disabled-letter-spacing: -0.28px;
  --button-dark-disabled-text-align: center;
  --button-dark-disabled-text-decoration: none;
  --button-dark-disabled-text-transform: none;
  --button-dark-disabled-color: #777777;
  --button-dark-disabled-box-shadow: none;
  --button-dark-disabled-opacity: 0.699999988079071;

  // button Secondary , theme: Light, state: Default
   --button-secondary-background: #2fa870;
  --button-secondary-padding-top: 13px;
  --button-secondary-padding-right: 20px;
  --button-secondary-padding-bottom: 13px;
  --button-secondary-padding-left: 20px;
  --button-secondary-border-width: 1px;
  --button-secondary-border-radius: 4px;
  --button-secondary-border-color: transparent;
  --button-secondary-font-family: 'Inter';
  --button-secondary-font-size: 14px;
  --button-secondary-font-weight: 600;
  --button-secondary-line-height: 1.2857142639160157;
  --button-secondary-letter-spacing: -0.28px;
  --button-secondary-text-align: center;
  --button-secondary-text-decoration: none;
  --button-secondary-text-transform: none;
  --button-secondary-color: #ffffff;
  --button-secondary-box-shadow: none;
  --button-secondary-opacity: 1;

  // button Secondary , theme: Light, state: Hover
   --button-secondary-hover-background: #3b2794;
  --button-secondary-hover-padding-top: 13px;
  --button-secondary-hover-padding-right: 20px;
  --button-secondary-hover-padding-bottom: 13px;
  --button-secondary-hover-padding-left: 20px;
  --button-secondary-hover-border-width: 1px;
  --button-secondary-hover-border-radius: 4px;
  --button-secondary-hover-border-color: transparent;
  --button-secondary-hover-font-family: 'Inter';
  --button-secondary-hover-font-size: 14px;
  --button-secondary-hover-font-weight: 600;
  --button-secondary-hover-line-height: 1.2857142639160157;
  --button-secondary-hover-letter-spacing: -0.28px;
  --button-secondary-hover-text-align: center;
  --button-secondary-hover-text-decoration: none;
  --button-secondary-hover-text-transform: none;
  --button-secondary-hover-color: #ffffff;
  --button-secondary-hover-box-shadow: none;
  --button-secondary-hover-opacity: 1;

  // button Secondary , theme: Light, state: Disabled
   --button-secondary-disabled-background: #e5e5e5;
  --button-secondary-disabled-padding-top: 13px;
  --button-secondary-disabled-padding-right: 20px;
  --button-secondary-disabled-padding-bottom: 13px;
  --button-secondary-disabled-padding-left: 20px;
  --button-secondary-disabled-border-width: 1px;
  --button-secondary-disabled-border-radius: 4px;
  --button-secondary-disabled-border-color: transparent;
  --button-secondary-disabled-font-family: 'Inter';
  --button-secondary-disabled-font-size: 14px;
  --button-secondary-disabled-font-weight: 600;
  --button-secondary-disabled-line-height: 1.2857142639160157;
  --button-secondary-disabled-letter-spacing: -0.28px;
  --button-secondary-disabled-text-align: center;
  --button-secondary-disabled-text-decoration: none;
  --button-secondary-disabled-text-transform: none;
  --button-secondary-disabled-color: #777777;
  --button-secondary-disabled-box-shadow: none;
  --button-secondary-disabled-opacity: 0.699999988079071;

  // button Small falsefalse
   --button-small-background: #000000;
  --button-small-padding-top: 12px;
  --button-small-padding-right: 16px;
  --button-small-padding-bottom: 12px;
  --button-small-padding-left: 16px;
  --button-small-border-width: 1px;
  --button-small-border-radius: 4px;
  --button-small-border-color: transparent;
  --button-small-font-family: 'Inter';
  --button-small-font-size: 12px;
  --button-small-font-weight: 600;
  --button-small-line-height: 1.3333332824707032;
  --button-small-letter-spacing: -0.24px;
  --button-small-text-align: center;
  --button-small-text-decoration: none;
  --button-small-text-transform: none;
  --button-small-color: #ffffff;
  --button-small-box-shadow: none;
  --button-small-opacity: 1;

  // button Medium falsefalse
   --button-medium-background: #000000;
  --button-medium-padding-top: 13px;
  --button-medium-padding-right: 20px;
  --button-medium-padding-bottom: 13px;
  --button-medium-padding-left: 20px;
  --button-medium-border-width: 1px;
  --button-medium-border-radius: 4px;
  --button-medium-border-color: transparent;
  --button-medium-font-family: 'Inter';
  --button-medium-font-size: 14px;
  --button-medium-font-weight: 600;
  --button-medium-line-height: 1.2857142639160157;
  --button-medium-letter-spacing: -0.28px;
  --button-medium-text-align: center;
  --button-medium-text-decoration: none;
  --button-medium-text-transform: none;
  --button-medium-color: #ffffff;
  --button-medium-box-shadow: none;
  --button-medium-opacity: 1;

  // button Large falsefalse
   --button-large-background: #000000;
  --button-large-padding-top: 14px;
  --button-large-padding-right: 20px;
  --button-large-padding-bottom: 14px;
  --button-large-padding-left: 20px;
  --button-large-border-width: 1px;
  --button-large-border-radius: 4px;
  --button-large-border-color: transparent;
  --button-large-font-family: 'Inter';
  --button-large-font-size: 16px;
  --button-large-font-weight: 600;
  --button-large-line-height: 1.25;
  --button-large-letter-spacing: -0.32px;
  --button-large-text-align: center;
  --button-large-text-decoration: none;
  --button-large-text-transform: none;
  --button-large-color: #ffffff;
  --button-large-box-shadow: none;
  --button-large-opacity: 1;
}