.modal {

  // modal Default undefinedundefined
   --modal-background: #ffffff;
  --modal-padding-y: 0px;
  --modal-padding-x: 0px;
  --modal-padding-top: 0px;
  --modal-padding-right: 0px;
  --modal-padding-bottom: 0px;
  --modal-padding-left: 0px;
  --modal-border-width: 1px;
  --modal-border-radius: 6px;
  --modal-border-radius-sm: 6px;
  --modal-border-radius-lg: 6px;
  --modal-border-color: transparent;
  --modal-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.05000000074505806), 0px 4px 20px rgba(0, 0, 0, 0.10000000149011612);
  --modal-header-background: transparent;
  --modal-header-padding-y: 20px;
  --modal-header-padding-x: 20px;
  --modal-header-padding-top: 20px;
  --modal-header-padding-right: 24px;
  --modal-header-padding-bottom: 0px;
  --modal-header-padding-left: 24px;
  --modal-header-border-width: 1px;
  --modal-header-border-radius: 6px;
  --modal-header-border-radius-sm: 6px;
  --modal-header-border-radius-lg: 6px;
  --modal-header-border-color: transparent;
  --modal-header-box-shadow: none;
  --modal-title-font-family: 'Inter';
  --modal-title-font-size: 18px;
  --modal-title-font-weight: 700;
  --modal-title-line-height: 1.6;
  --modal-title-letter-spacing: -0.36px;
  --modal-title-text-align: center;
  --modal-title-text-decoration: none;
  --modal-body-background: transparent;
  --modal-body-padding-y: 10px;
  --modal-body-padding-x: 10px;
  --modal-body-padding-top: 10px;
  --modal-body-padding-right: 24px;
  --modal-body-padding-bottom: 28px;
  --modal-body-padding-left: 24px;
  --modal-body-border-width: 1px;
  --modal-body-border-radius: 0px;
  --modal-body-border-radius-sm: 0px;
  --modal-body-border-radius-lg: 0px;
  --modal-body-border-color: transparent;
  --modal-body-box-shadow: none;
  --modal-body-font-family: 'Inter';
  --modal-body-font-size: 16px;
  --modal-body-font-weight: 400;
  --modal-body-line-height: 1.6;
  --modal-body-letter-spacing: -0.32px;
  --modal-body-text-align: left;
  --modal-body-text-decoration: none;
  --modal-footer-background: transparent;
  --modal-footer-padding-y: 12px;
  --modal-footer-padding-x: 12px;
  --modal-footer-padding-top: 12px;
  --modal-footer-padding-right: 24px;
  --modal-footer-padding-bottom: 12px;
  --modal-footer-padding-left: 24px;
  --modal-footer-border-width: 1px;
  --modal-footer-border-radius: 0px;
  --modal-footer-border-radius-sm: 0px;
  --modal-footer-border-radius-lg: 0px;
  --modal-footer-border-color: #e8e8e8;
  --modal-footer-box-shadow: none;
  --modal-footer-font-family: 'Inter';
  --modal-footer-font-size: 12px;
  --modal-footer-font-weight: 400;
  --modal-footer-line-height: 1.6;
  --modal-footer-letter-spacing: -0.24px;
  --modal-footer-text-align: center;
  --modal-footer-text-decoration: none;

  // modal Small falsefalse
   --modal-small-background: #000000;
  --modal-small-padding-y: 0px;
  --modal-small-padding-x: 0px;
  --modal-small-padding-top: 0px;
  --modal-small-padding-right: 0px;
  --modal-small-padding-bottom: 0px;
  --modal-small-padding-left: 0px;
  --modal-small-border-width: 1px;
  --modal-small-border-radius: 4px;
  --modal-small-border-radius-sm: 4px;
  --modal-small-border-radius-lg: 4px;
  --modal-small-border-color: transparent;
  --modal-small-box-shadow: none;
  --modal-small-header-background: transparent;
  --modal-small-header-padding-y: 16px;
  --modal-small-header-padding-x: 16px;
  --modal-small-header-padding-top: 16px;
  --modal-small-header-padding-right: 20px;
  --modal-small-header-padding-bottom: 16px;
  --modal-small-header-padding-left: 20px;
  --modal-small-header-border-width: 1px;
  --modal-small-header-border-radius: 0px;
  --modal-small-header-border-radius-sm: 0px;
  --modal-small-header-border-radius-lg: 0px;
  --modal-small-header-border-color: #686868;
  --modal-small-header-box-shadow: none;
  --modal-small-title-font-family: 'Inter';
  --modal-small-title-font-size: 20px;
  --modal-small-title-font-weight: 600;
  --modal-small-title-line-height: 1.3;
  --modal-small-title-letter-spacing: -0.4px;
  --modal-small-title-text-align: center;
  --modal-small-title-text-decoration: none;
  --modal-small-body-background: transparent;
  --modal-small-body-padding-y: 18px;
  --modal-small-body-padding-x: 18px;
  --modal-small-body-padding-top: 18px;
  --modal-small-body-padding-right: 20px;
  --modal-small-body-padding-bottom: 18px;
  --modal-small-body-padding-left: 20px;
  --modal-small-body-border-width: 1px;
  --modal-small-body-border-radius: 0px;
  --modal-small-body-border-radius-sm: 0px;
  --modal-small-body-border-radius-lg: 0px;
  --modal-small-body-border-color: transparent;
  --modal-small-body-box-shadow: none;
  --modal-small-body-font-family: 'Inter';
  --modal-small-body-font-size: 14px;
  --modal-small-body-font-weight: 600;
  --modal-small-body-line-height: 1.2857142639160157;
  --modal-small-body-letter-spacing: -0.28px;
  --modal-small-body-text-align: left;
  --modal-small-body-text-decoration: none;
  --modal-small-footer-background: transparent;
  --modal-small-footer-padding-y: 12px;
  --modal-small-footer-padding-x: 12px;
  --modal-small-footer-padding-top: 12px;
  --modal-small-footer-padding-right: 20px;
  --modal-small-footer-padding-bottom: 12px;
  --modal-small-footer-padding-left: 20px;
  --modal-small-footer-border-width: 1px;
  --modal-small-footer-border-radius: 0px;
  --modal-small-footer-border-radius-sm: 0px;
  --modal-small-footer-border-radius-lg: 0px;
  --modal-small-footer-border-color: #686868;
  --modal-small-footer-box-shadow: none;
  --modal-small-footer-font-family: 'Inter';
  --modal-small-footer-font-size: 12px;
  --modal-small-footer-font-weight: 400;
  --modal-small-footer-line-height: 1.6;
  --modal-small-footer-letter-spacing: -0.24px;
  --modal-small-footer-text-align: center;
  --modal-small-footer-text-decoration: none;

  // modal Medium falsefalse
   --modal-medium-background: #000000;
  --modal-medium-padding-y: 0px;
  --modal-medium-padding-x: 0px;
  --modal-medium-padding-top: 0px;
  --modal-medium-padding-right: 0px;
  --modal-medium-padding-bottom: 0px;
  --modal-medium-padding-left: 0px;
  --modal-medium-border-width: 1px;
  --modal-medium-border-radius: 6px;
  --modal-medium-border-radius-sm: 6px;
  --modal-medium-border-radius-lg: 6px;
  --modal-medium-border-color: transparent;
  --modal-medium-box-shadow: none;
  --modal-medium-header-background: transparent;
  --modal-medium-header-padding-y: 20px;
  --modal-medium-header-padding-x: 20px;
  --modal-medium-header-padding-top: 20px;
  --modal-medium-header-padding-right: 24px;
  --modal-medium-header-padding-bottom: 20px;
  --modal-medium-header-padding-left: 24px;
  --modal-medium-header-border-width: 1px;
  --modal-medium-header-border-radius: 0px;
  --modal-medium-header-border-radius-sm: 0px;
  --modal-medium-header-border-radius-lg: 0px;
  --modal-medium-header-border-color: #686868;
  --modal-medium-header-box-shadow: none;
  --modal-medium-title-font-family: 'Inter';
  --modal-medium-title-font-size: 20px;
  --modal-medium-title-font-weight: 600;
  --modal-medium-title-line-height: 1.3;
  --modal-medium-title-letter-spacing: -0.4px;
  --modal-medium-title-text-align: center;
  --modal-medium-title-text-decoration: none;
  --modal-medium-body-background: transparent;
  --modal-medium-body-padding-y: 18px;
  --modal-medium-body-padding-x: 18px;
  --modal-medium-body-padding-top: 18px;
  --modal-medium-body-padding-right: 24px;
  --modal-medium-body-padding-bottom: 18px;
  --modal-medium-body-padding-left: 24px;
  --modal-medium-body-border-width: 1px;
  --modal-medium-body-border-radius: 0px;
  --modal-medium-body-border-radius-sm: 0px;
  --modal-medium-body-border-radius-lg: 0px;
  --modal-medium-body-border-color: transparent;
  --modal-medium-body-box-shadow: none;
  --modal-medium-body-font-family: 'Inter';
  --modal-medium-body-font-size: 14px;
  --modal-medium-body-font-weight: 600;
  --modal-medium-body-line-height: 1.2857142639160157;
  --modal-medium-body-letter-spacing: -0.28px;
  --modal-medium-body-text-align: left;
  --modal-medium-body-text-decoration: none;
  --modal-medium-footer-background: transparent;
  --modal-medium-footer-padding-y: 12px;
  --modal-medium-footer-padding-x: 12px;
  --modal-medium-footer-padding-top: 12px;
  --modal-medium-footer-padding-right: 24px;
  --modal-medium-footer-padding-bottom: 12px;
  --modal-medium-footer-padding-left: 24px;
  --modal-medium-footer-border-width: 1px;
  --modal-medium-footer-border-radius: 0px;
  --modal-medium-footer-border-radius-sm: 0px;
  --modal-medium-footer-border-radius-lg: 0px;
  --modal-medium-footer-border-color: #686868;
  --modal-medium-footer-box-shadow: none;
  --modal-medium-footer-font-family: 'Inter';
  --modal-medium-footer-font-size: 12px;
  --modal-medium-footer-font-weight: 400;
  --modal-medium-footer-line-height: 1.6;
  --modal-medium-footer-letter-spacing: -0.24px;
  --modal-medium-footer-text-align: center;
  --modal-medium-footer-text-decoration: none;

  // modal Large falsefalse
   --modal-large-background: #000000;
  --modal-large-padding-y: 0px;
  --modal-large-padding-x: 0px;
  --modal-large-padding-top: 0px;
  --modal-large-padding-right: 0px;
  --modal-large-padding-bottom: 0px;
  --modal-large-padding-left: 0px;
  --modal-large-border-width: 1px;
  --modal-large-border-radius: 8px;
  --modal-large-border-radius-sm: 8px;
  --modal-large-border-radius-lg: 8px;
  --modal-large-border-color: transparent;
  --modal-large-box-shadow: none;
  --modal-large-header-background: transparent;
  --modal-large-header-padding-y: 22px;
  --modal-large-header-padding-x: 22px;
  --modal-large-header-padding-top: 22px;
  --modal-large-header-padding-right: 28px;
  --modal-large-header-padding-bottom: 22px;
  --modal-large-header-padding-left: 28px;
  --modal-large-header-border-width: 1px;
  --modal-large-header-border-radius: 0px;
  --modal-large-header-border-radius-sm: 0px;
  --modal-large-header-border-radius-lg: 0px;
  --modal-large-header-border-color: #686868;
  --modal-large-header-box-shadow: none;
  --modal-large-title-font-family: 'Inter';
  --modal-large-title-font-size: 24px;
  --modal-large-title-font-weight: 500;
  --modal-large-title-line-height: 1.3;
  --modal-large-title-letter-spacing: -0.48px;
  --modal-large-title-text-align: center;
  --modal-large-title-text-decoration: none;
  --modal-large-body-background: transparent;
  --modal-large-body-padding-y: 18px;
  --modal-large-body-padding-x: 18px;
  --modal-large-body-padding-top: 18px;
  --modal-large-body-padding-right: 28px;
  --modal-large-body-padding-bottom: 18px;
  --modal-large-body-padding-left: 28px;
  --modal-large-body-border-width: 1px;
  --modal-large-body-border-radius: 0px;
  --modal-large-body-border-radius-sm: 0px;
  --modal-large-body-border-radius-lg: 0px;
  --modal-large-body-border-color: transparent;
  --modal-large-body-box-shadow: none;
  --modal-large-body-font-family: 'Inter';
  --modal-large-body-font-size: 14px;
  --modal-large-body-font-weight: 600;
  --modal-large-body-line-height: 1.2857142639160157;
  --modal-large-body-letter-spacing: -0.28px;
  --modal-large-body-text-align: left;
  --modal-large-body-text-decoration: none;
  --modal-large-footer-background: transparent;
  --modal-large-footer-padding-y: 12px;
  --modal-large-footer-padding-x: 12px;
  --modal-large-footer-padding-top: 12px;
  --modal-large-footer-padding-right: 28px;
  --modal-large-footer-padding-bottom: 12px;
  --modal-large-footer-padding-left: 28px;
  --modal-large-footer-border-width: 1px;
  --modal-large-footer-border-radius: 0px;
  --modal-large-footer-border-radius-sm: 0px;
  --modal-large-footer-border-radius-lg: 0px;
  --modal-large-footer-border-color: #686868;
  --modal-large-footer-box-shadow: none;
  --modal-large-footer-font-family: 'Inter';
  --modal-large-footer-font-size: 12px;
  --modal-large-footer-font-weight: 400;
  --modal-large-footer-line-height: 1.6;
  --modal-large-footer-letter-spacing: -0.24px;
  --modal-large-footer-text-align: center;
  --modal-large-footer-text-decoration: none;
}