$select-sizes: ( "sm", "md", "lg" );

$select-themes: ( "dark", "light" );

$select-states: ( "disabled", "error", "active", "hover", "" );

.select {

  // select  , theme: Dark, state: Disabled
   --select-dark-disabled-background: #cccccc;
  --select-dark-disabled-padding-top: 12px;
  --select-dark-disabled-padding-right: 16px;
  --select-dark-disabled-padding-bottom: 12px;
  --select-dark-disabled-padding-left: 20px;
  --select-dark-disabled-border-width: 1px;
  --select-dark-disabled-border-radius: 4px;
  --select-dark-disabled-border-color: transparent;
  --select-dark-disabled-box-shadow: none;
  --select-label-dark-disabled-spacing: 5px;
  --select-label-dark-disabled-font-family: 'Inter';
  --select-label-dark-disabled-font-size: 12px;
  --select-label-dark-disabled-font-weight: 400;
  --select-label-dark-disabled-line-height: 1.6;
  --select-label-dark-disabled-letter-spacing: -0.24px;
  --select-label-dark-disabled-text-align: left;
  --select-label-dark-disabled-text-transform: none;
  --select-label-dark-disabled-text-decoration: none;
  --select-label-dark-disabled-color: rgba(255, 255, 255, 0.44999998807907104);
  --select-option-dark-disabled-font-family: 'Inter';
  --select-option-dark-disabled-font-size: 14px;
  --select-option-dark-disabled-font-weight: 400;
  --select-option-dark-disabled-line-height: 1.4285714721679688;
  --select-option-dark-disabled-letter-spacing: -0.28px;
  --select-option-dark-disabled-text-align: left;
  --select-option-dark-disabled-text-transform: none;
  --select-option-dark-disabled-text-decoration: none;
  --select-option-dark-disabled-color: #555555;
  --select-icon-dark-disabled-width: 16px;
  --select-icon-dark-disabled-width-raw: 16;
  --select-icon-dark-disabled-height: 16px;
  --select-icon-dark-disabled-height-raw: 16;
  --select-icon-dark-disabled-color: #aaaaaa;
  --select-additional-info-dark-disabled-spacing: 5px;
  --select-additional-info-dark-disabled-font-family: 'Inter';
  --select-additional-info-dark-disabled-font-size: 12px;
  --select-additional-info-dark-disabled-font-weight: 400;
  --select-additional-info-dark-disabled-line-height: 1.6;
  --select-additional-info-dark-disabled-letter-spacing: -0.24px;
  --select-additional-info-dark-disabled-text-align: left;
  --select-additional-info-dark-disabled-text-transform: none;
  --select-additional-info-dark-disabled-text-decoration: none;
  --select-additional-info-dark-disabled-color: rgba(255, 255, 255, 0.44999998807907104);

  // select  , theme: Dark, state: Error
   --select-dark-error-background: #f8f8f8;
  --select-dark-error-padding-top: 12px;
  --select-dark-error-padding-right: 16px;
  --select-dark-error-padding-bottom: 12px;
  --select-dark-error-padding-left: 20px;
  --select-dark-error-border-width: 1px;
  --select-dark-error-border-radius: 4px;
  --select-dark-error-border-color: #f35d6c;
  --select-dark-error-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07999999821186066);
  --select-label-dark-error-spacing: 5px;
  --select-label-dark-error-font-family: 'Inter';
  --select-label-dark-error-font-size: 12px;
  --select-label-dark-error-font-weight: 400;
  --select-label-dark-error-line-height: 1.6;
  --select-label-dark-error-letter-spacing: -0.24px;
  --select-label-dark-error-text-align: left;
  --select-label-dark-error-text-transform: none;
  --select-label-dark-error-text-decoration: none;
  --select-label-dark-error-color: rgba(255, 255, 255, 0.6499999761581421);
  --select-option-dark-error-font-family: 'Inter';
  --select-option-dark-error-font-size: 14px;
  --select-option-dark-error-font-weight: 400;
  --select-option-dark-error-line-height: 1.4285714721679688;
  --select-option-dark-error-letter-spacing: -0.28px;
  --select-option-dark-error-text-align: left;
  --select-option-dark-error-text-transform: none;
  --select-option-dark-error-text-decoration: none;
  --select-option-dark-error-color: #555555;
  --select-icon-dark-error-width: 16px;
  --select-icon-dark-error-width-raw: 16;
  --select-icon-dark-error-height: 16px;
  --select-icon-dark-error-height-raw: 16;
  --select-icon-dark-error-color: #888888;
  --select-additional-info-dark-error-spacing: 5px;
  --select-additional-info-dark-error-font-family: 'Inter';
  --select-additional-info-dark-error-font-size: 12px;
  --select-additional-info-dark-error-font-weight: 400;
  --select-additional-info-dark-error-line-height: 1.6;
  --select-additional-info-dark-error-letter-spacing: -0.24px;
  --select-additional-info-dark-error-text-align: left;
  --select-additional-info-dark-error-text-transform: none;
  --select-additional-info-dark-error-text-decoration: none;
  --select-additional-info-dark-error-color: #f35d6c;

  // select  , theme: Dark, state: Active
   --select-dark-active-background: #ffffff;
  --select-dark-active-padding-top: 12px;
  --select-dark-active-padding-right: 16px;
  --select-dark-active-padding-bottom: 12px;
  --select-dark-active-padding-left: 20px;
  --select-dark-active-border-width: 1px;
  --select-dark-active-border-radius: 4px;
  --select-dark-active-border-color: transparent;
  --select-dark-active-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07999999821186066);
  --select-label-dark-active-spacing: 5px;
  --select-label-dark-active-font-family: 'Inter';
  --select-label-dark-active-font-size: 12px;
  --select-label-dark-active-font-weight: 400;
  --select-label-dark-active-line-height: 1.6;
  --select-label-dark-active-letter-spacing: -0.24px;
  --select-label-dark-active-text-align: left;
  --select-label-dark-active-text-transform: none;
  --select-label-dark-active-text-decoration: none;
  --select-label-dark-active-color: rgba(255, 255, 255, 0.8500000238418579);
  --select-option-dark-active-font-family: 'Inter';
  --select-option-dark-active-font-size: 14px;
  --select-option-dark-active-font-weight: 400;
  --select-option-dark-active-line-height: 1.4285714721679688;
  --select-option-dark-active-letter-spacing: -0.28px;
  --select-option-dark-active-text-align: left;
  --select-option-dark-active-text-transform: none;
  --select-option-dark-active-text-decoration: none;
  --select-option-dark-active-color: #000000;
  --select-icon-dark-active-width: 16px;
  --select-icon-dark-active-width-raw: 16;
  --select-icon-dark-active-height: 16px;
  --select-icon-dark-active-height-raw: 16;
  --select-icon-dark-active-color: #888888;
  --select-additional-info-dark-active-spacing: 5px;
  --select-additional-info-dark-active-font-family: 'Inter';
  --select-additional-info-dark-active-font-size: 12px;
  --select-additional-info-dark-active-font-weight: 400;
  --select-additional-info-dark-active-line-height: 1.6;
  --select-additional-info-dark-active-letter-spacing: -0.24px;
  --select-additional-info-dark-active-text-align: left;
  --select-additional-info-dark-active-text-transform: none;
  --select-additional-info-dark-active-text-decoration: none;
  --select-additional-info-dark-active-color: rgba(255, 255, 255, 0.6499999761581421);

  // select  , theme: Dark, state: Hover
   --select-dark-hover-background: #ffffff;
  --select-dark-hover-padding-top: 12px;
  --select-dark-hover-padding-right: 16px;
  --select-dark-hover-padding-bottom: 12px;
  --select-dark-hover-padding-left: 20px;
  --select-dark-hover-border-width: 1px;
  --select-dark-hover-border-radius: 4px;
  --select-dark-hover-border-color: transparent;
  --select-dark-hover-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07999999821186066);
  --select-label-dark-hover-spacing: 5px;
  --select-label-dark-hover-font-family: 'Inter';
  --select-label-dark-hover-font-size: 12px;
  --select-label-dark-hover-font-weight: 400;
  --select-label-dark-hover-line-height: 1.6;
  --select-label-dark-hover-letter-spacing: -0.24px;
  --select-label-dark-hover-text-align: left;
  --select-label-dark-hover-text-transform: none;
  --select-label-dark-hover-text-decoration: none;
  --select-label-dark-hover-color: rgba(255, 255, 255, 0.6499999761581421);
  --select-option-dark-hover-font-family: 'Inter';
  --select-option-dark-hover-font-size: 14px;
  --select-option-dark-hover-font-weight: 400;
  --select-option-dark-hover-line-height: 1.4285714721679688;
  --select-option-dark-hover-letter-spacing: -0.28px;
  --select-option-dark-hover-text-align: left;
  --select-option-dark-hover-text-transform: none;
  --select-option-dark-hover-text-decoration: none;
  --select-option-dark-hover-color: #555555;
  --select-icon-dark-hover-width: 16px;
  --select-icon-dark-hover-width-raw: 16;
  --select-icon-dark-hover-height: 16px;
  --select-icon-dark-hover-height-raw: 16;
  --select-icon-dark-hover-color: #888888;
  --select-additional-info-dark-hover-spacing: 5px;
  --select-additional-info-dark-hover-font-family: 'Inter';
  --select-additional-info-dark-hover-font-size: 12px;
  --select-additional-info-dark-hover-font-weight: 400;
  --select-additional-info-dark-hover-line-height: 1.6;
  --select-additional-info-dark-hover-letter-spacing: -0.24px;
  --select-additional-info-dark-hover-text-align: left;
  --select-additional-info-dark-hover-text-transform: none;
  --select-additional-info-dark-hover-text-decoration: none;
  --select-additional-info-dark-hover-color: rgba(255, 255, 255, 0.6499999761581421);

  // select  , theme: Dark, state: Default
   --select-dark-background: #f8f8f8;
  --select-dark-padding-top: 12px;
  --select-dark-padding-right: 16px;
  --select-dark-padding-bottom: 12px;
  --select-dark-padding-left: 20px;
  --select-dark-border-width: 1px;
  --select-dark-border-radius: 4px;
  --select-dark-border-color: transparent;
  --select-dark-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07999999821186066);
  --select-label-dark-spacing: 5px;
  --select-label-dark-font-family: 'Inter';
  --select-label-dark-font-size: 12px;
  --select-label-dark-font-weight: 400;
  --select-label-dark-line-height: 1.6;
  --select-label-dark-letter-spacing: -0.24px;
  --select-label-dark-text-align: left;
  --select-label-dark-text-transform: none;
  --select-label-dark-text-decoration: none;
  --select-label-dark-color: rgba(255, 255, 255, 0.6499999761581421);
  --select-option-dark-font-family: 'Inter';
  --select-option-dark-font-size: 14px;
  --select-option-dark-font-weight: 400;
  --select-option-dark-line-height: 1.4285714721679688;
  --select-option-dark-letter-spacing: -0.28px;
  --select-option-dark-text-align: left;
  --select-option-dark-text-transform: none;
  --select-option-dark-text-decoration: none;
  --select-option-dark-color: #555555;
  --select-icon-dark-width: 16px;
  --select-icon-dark-width-raw: 16;
  --select-icon-dark-height: 16px;
  --select-icon-dark-height-raw: 16;
  --select-icon-dark-color: #888888;
  --select-additional-info-dark-spacing: 5px;
  --select-additional-info-dark-font-family: 'Inter';
  --select-additional-info-dark-font-size: 12px;
  --select-additional-info-dark-font-weight: 400;
  --select-additional-info-dark-line-height: 1.6;
  --select-additional-info-dark-letter-spacing: -0.24px;
  --select-additional-info-dark-text-align: left;
  --select-additional-info-dark-text-transform: none;
  --select-additional-info-dark-text-decoration: none;
  --select-additional-info-dark-color: rgba(255, 255, 255, 0.6499999761581421);

  // select  , theme: Light, state: Disabled
   --select-disabled-background: #f8f8f8;
  --select-disabled-padding-top: 12px;
  --select-disabled-padding-right: 16px;
  --select-disabled-padding-bottom: 12px;
  --select-disabled-padding-left: 20px;
  --select-disabled-border-width: 1px;
  --select-disabled-border-radius: 4px;
  --select-disabled-border-color: transparent;
  --select-disabled-box-shadow: none;
  --select-label-disabled-spacing: 5px;
  --select-label-disabled-font-family: 'Inter';
  --select-label-disabled-font-size: 12px;
  --select-label-disabled-font-weight: 400;
  --select-label-disabled-line-height: 1.6;
  --select-label-disabled-letter-spacing: -0.24px;
  --select-label-disabled-text-align: left;
  --select-label-disabled-text-transform: none;
  --select-label-disabled-text-decoration: none;
  --select-label-disabled-color: #777777;
  --select-option-disabled-font-family: 'Inter';
  --select-option-disabled-font-size: 14px;
  --select-option-disabled-font-weight: 400;
  --select-option-disabled-line-height: 1.4285714721679688;
  --select-option-disabled-letter-spacing: -0.28px;
  --select-option-disabled-text-align: left;
  --select-option-disabled-text-transform: none;
  --select-option-disabled-text-decoration: none;
  --select-option-disabled-color: #777777;
  --select-icon-disabled-width: 16px;
  --select-icon-disabled-width-raw: 16;
  --select-icon-disabled-height: 16px;
  --select-icon-disabled-height-raw: 16;
  --select-icon-disabled-color: #cccccc;
  --select-additional-info-disabled-spacing: 5px;
  --select-additional-info-disabled-font-family: 'Inter';
  --select-additional-info-disabled-font-size: 12px;
  --select-additional-info-disabled-font-weight: 400;
  --select-additional-info-disabled-line-height: 1.6;
  --select-additional-info-disabled-letter-spacing: -0.24px;
  --select-additional-info-disabled-text-align: left;
  --select-additional-info-disabled-text-transform: none;
  --select-additional-info-disabled-text-decoration: none;
  --select-additional-info-disabled-color: #777777;

  // select  , theme: Light, state: Error
   --select-error-background: #ffffff;
  --select-error-padding-top: 12px;
  --select-error-padding-right: 16px;
  --select-error-padding-bottom: 12px;
  --select-error-padding-left: 20px;
  --select-error-border-width: 1px;
  --select-error-border-radius: 4px;
  --select-error-border-color: #dc3545;
  --select-error-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07999999821186066);
  --select-label-error-spacing: 5px;
  --select-label-error-font-family: 'Inter';
  --select-label-error-font-size: 12px;
  --select-label-error-font-weight: 400;
  --select-label-error-line-height: 1.6;
  --select-label-error-letter-spacing: -0.24px;
  --select-label-error-text-align: left;
  --select-label-error-text-transform: none;
  --select-label-error-text-decoration: none;
  --select-label-error-color: #555555;
  --select-option-error-font-family: 'Inter';
  --select-option-error-font-size: 14px;
  --select-option-error-font-weight: 400;
  --select-option-error-line-height: 1.4285714721679688;
  --select-option-error-letter-spacing: -0.28px;
  --select-option-error-text-align: left;
  --select-option-error-text-transform: none;
  --select-option-error-text-decoration: none;
  --select-option-error-color: #777777;
  --select-icon-error-width: 16px;
  --select-icon-error-width-raw: 16;
  --select-icon-error-height: 16px;
  --select-icon-error-height-raw: 16;
  --select-icon-error-color: #888888;
  --select-additional-info-error-spacing: 5px;
  --select-additional-info-error-font-family: 'Inter';
  --select-additional-info-error-font-size: 12px;
  --select-additional-info-error-font-weight: 400;
  --select-additional-info-error-line-height: 1.6;
  --select-additional-info-error-letter-spacing: -0.24px;
  --select-additional-info-error-text-align: left;
  --select-additional-info-error-text-transform: none;
  --select-additional-info-error-text-decoration: none;
  --select-additional-info-error-color: #dc3545;

  // select  , theme: Light, state: Active
   --select-active-background: #ffffff;
  --select-active-padding-top: 12px;
  --select-active-padding-right: 16px;
  --select-active-padding-bottom: 12px;
  --select-active-padding-left: 20px;
  --select-active-border-width: 1px;
  --select-active-border-radius: 4px;
  --select-active-border-color: #929292;
  --select-active-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07999999821186066);
  --select-label-active-spacing: 5px;
  --select-label-active-font-family: 'Inter';
  --select-label-active-font-size: 12px;
  --select-label-active-font-weight: 400;
  --select-label-active-line-height: 1.6;
  --select-label-active-letter-spacing: -0.24px;
  --select-label-active-text-align: left;
  --select-label-active-text-transform: none;
  --select-label-active-text-decoration: none;
  --select-label-active-color: rgba(0, 0, 0, 0.800000011920929);
  --select-option-active-font-family: 'Inter';
  --select-option-active-font-size: 14px;
  --select-option-active-font-weight: 400;
  --select-option-active-line-height: 1.4285714721679688;
  --select-option-active-letter-spacing: -0.28px;
  --select-option-active-text-align: left;
  --select-option-active-text-transform: none;
  --select-option-active-text-decoration: none;
  --select-option-active-color: #000000;
  --select-icon-active-width: 16px;
  --select-icon-active-width-raw: 16;
  --select-icon-active-height: 16px;
  --select-icon-active-height-raw: 16;
  --select-icon-active-color: #888888;
  --select-additional-info-active-spacing: 5px;
  --select-additional-info-active-font-family: 'Inter';
  --select-additional-info-active-font-size: 12px;
  --select-additional-info-active-font-weight: 400;
  --select-additional-info-active-line-height: 1.6;
  --select-additional-info-active-letter-spacing: -0.24px;
  --select-additional-info-active-text-align: left;
  --select-additional-info-active-text-transform: none;
  --select-additional-info-active-text-decoration: none;
  --select-additional-info-active-color: #777777;

  // select  , theme: Light, state: Hover
   --select-hover-background: #ffffff;
  --select-hover-padding-top: 12px;
  --select-hover-padding-right: 16px;
  --select-hover-padding-bottom: 12px;
  --select-hover-padding-left: 20px;
  --select-hover-border-width: 1px;
  --select-hover-border-radius: 4px;
  --select-hover-border-color: #b3b3b3;
  --select-hover-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07999999821186066);
  --select-label-hover-spacing: 5px;
  --select-label-hover-font-family: 'Inter';
  --select-label-hover-font-size: 12px;
  --select-label-hover-font-weight: 400;
  --select-label-hover-line-height: 1.6;
  --select-label-hover-letter-spacing: -0.24px;
  --select-label-hover-text-align: left;
  --select-label-hover-text-transform: none;
  --select-label-hover-text-decoration: none;
  --select-label-hover-color: #555555;
  --select-option-hover-font-family: 'Inter';
  --select-option-hover-font-size: 14px;
  --select-option-hover-font-weight: 400;
  --select-option-hover-line-height: 1.4285714721679688;
  --select-option-hover-letter-spacing: -0.28px;
  --select-option-hover-text-align: left;
  --select-option-hover-text-transform: none;
  --select-option-hover-text-decoration: none;
  --select-option-hover-color: #777777;
  --select-icon-hover-width: 16px;
  --select-icon-hover-width-raw: 16;
  --select-icon-hover-height: 16px;
  --select-icon-hover-height-raw: 16;
  --select-icon-hover-color: #888888;
  --select-additional-info-hover-spacing: 5px;
  --select-additional-info-hover-font-family: 'Inter';
  --select-additional-info-hover-font-size: 12px;
  --select-additional-info-hover-font-weight: 400;
  --select-additional-info-hover-line-height: 1.6;
  --select-additional-info-hover-letter-spacing: -0.24px;
  --select-additional-info-hover-text-align: left;
  --select-additional-info-hover-text-transform: none;
  --select-additional-info-hover-text-decoration: none;
  --select-additional-info-hover-color: #777777;

  // select  , theme: Light, state: Default
   --select-background: #ffffff;
  --select-padding-top: 12px;
  --select-padding-right: 16px;
  --select-padding-bottom: 12px;
  --select-padding-left: 20px;
  --select-border-width: 1px;
  --select-border-radius: 4px;
  --select-border-color: #e8e8e8;
  --select-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07999999821186066);
  --select-label-spacing: 5px;
  --select-label-font-family: 'Inter';
  --select-label-font-size: 12px;
  --select-label-font-weight: 400;
  --select-label-line-height: 1.6;
  --select-label-letter-spacing: -0.24px;
  --select-label-text-align: left;
  --select-label-text-transform: none;
  --select-label-text-decoration: none;
  --select-label-color: #555555;
  --select-option-font-family: 'Inter';
  --select-option-font-size: 14px;
  --select-option-font-weight: 400;
  --select-option-line-height: 1.4285714721679688;
  --select-option-letter-spacing: -0.28px;
  --select-option-text-align: left;
  --select-option-text-transform: none;
  --select-option-text-decoration: none;
  --select-option-color: #777777;
  --select-icon-width: 16px;
  --select-icon-width-raw: 16;
  --select-icon-height: 16px;
  --select-icon-height-raw: 16;
  --select-icon-color: #888888;
  --select-additional-info-spacing: 5px;
  --select-additional-info-font-family: 'Inter';
  --select-additional-info-font-size: 12px;
  --select-additional-info-font-weight: 400;
  --select-additional-info-line-height: 1.6;
  --select-additional-info-letter-spacing: -0.24px;
  --select-additional-info-text-align: left;
  --select-additional-info-text-transform: none;
  --select-additional-info-text-decoration: none;
  --select-additional-info-color: #777777;

  // select Small falsefalse
   --select-small-background: transparent;
  --select-small-padding-top: 10px;
  --select-small-padding-right: 12px;
  --select-small-padding-bottom: 10px;
  --select-small-padding-left: 16px;
  --select-small-border-width: 1px;
  --select-small-border-radius: 4px;
  --select-small-border-color: #000000;
  --select-small-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.10000000149011612);
  --select-small-label-spacing: 2px;
  --select-small-label-font-family: 'Inter';
  --select-small-label-font-size: 12px;
  --select-small-label-font-weight: 400;
  --select-small-label-line-height: 1.6;
  --select-small-label-letter-spacing: -0.24px;
  --select-small-label-text-align: left;
  --select-small-label-text-transform: none;
  --select-small-label-text-decoration: none;
  --select-small-label-color: #555555;
  --select-small-option-font-family: 'Inter';
  --select-small-option-font-size: 12px;
  --select-small-option-font-weight: 400;
  --select-small-option-line-height: 1.6666667175292968;
  --select-small-option-letter-spacing: -0.24px;
  --select-small-option-text-align: left;
  --select-small-option-text-transform: none;
  --select-small-option-text-decoration: none;
  --select-small-option-color: #555555;
  --select-small-icon-width: 16px;
  --select-small-icon-width-raw: 16;
  --select-small-icon-height: 16px;
  --select-small-icon-height-raw: 16;
  --select-small-icon-color: #888888;
  --select-small-additional-info-spacing: 2px;
  --select-small-additional-info-font-family: 'Inter';
  --select-small-additional-info-font-size: 12px;
  --select-small-additional-info-font-weight: 400;
  --select-small-additional-info-line-height: 1.6;
  --select-small-additional-info-letter-spacing: -0.24px;
  --select-small-additional-info-text-align: left;
  --select-small-additional-info-text-transform: none;
  --select-small-additional-info-text-decoration: none;
  --select-small-additional-info-color: #555555;

  // select Medium falsefalse
   --select-medium-background: transparent;
  --select-medium-padding-top: 12px;
  --select-medium-padding-right: 16px;
  --select-medium-padding-bottom: 12px;
  --select-medium-padding-left: 20px;
  --select-medium-border-width: 1px;
  --select-medium-border-radius: 4px;
  --select-medium-border-color: #000000;
  --select-medium-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.10000000149011612);
  --select-medium-label-spacing: 5px;
  --select-medium-label-font-family: 'Inter';
  --select-medium-label-font-size: 12px;
  --select-medium-label-font-weight: 400;
  --select-medium-label-line-height: 1.6;
  --select-medium-label-letter-spacing: -0.24px;
  --select-medium-label-text-align: left;
  --select-medium-label-text-transform: none;
  --select-medium-label-text-decoration: none;
  --select-medium-label-color: #555555;
  --select-medium-option-font-family: 'Inter';
  --select-medium-option-font-size: 14px;
  --select-medium-option-font-weight: 400;
  --select-medium-option-line-height: 1.4285714721679688;
  --select-medium-option-letter-spacing: -0.28px;
  --select-medium-option-text-align: left;
  --select-medium-option-text-transform: none;
  --select-medium-option-text-decoration: none;
  --select-medium-option-color: #555555;
  --select-medium-icon-width: 16px;
  --select-medium-icon-width-raw: 16;
  --select-medium-icon-height: 16px;
  --select-medium-icon-height-raw: 16;
  --select-medium-icon-color: #888888;
  --select-medium-additional-info-spacing: 5px;
  --select-medium-additional-info-font-family: 'Inter';
  --select-medium-additional-info-font-size: 12px;
  --select-medium-additional-info-font-weight: 400;
  --select-medium-additional-info-line-height: 1.6;
  --select-medium-additional-info-letter-spacing: -0.24px;
  --select-medium-additional-info-text-align: left;
  --select-medium-additional-info-text-transform: none;
  --select-medium-additional-info-text-decoration: none;
  --select-medium-additional-info-color: #555555;

  // select Large falsefalse
   --select-large-background: transparent;
  --select-large-padding-top: 14px;
  --select-large-padding-right: 16px;
  --select-large-padding-bottom: 14px;
  --select-large-padding-left: 20px;
  --select-large-border-width: 1px;
  --select-large-border-radius: 4px;
  --select-large-border-color: #000000;
  --select-large-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.10000000149011612);
  --select-large-label-spacing: 5px;
  --select-large-label-font-family: 'Inter';
  --select-large-label-font-size: 12px;
  --select-large-label-font-weight: 400;
  --select-large-label-line-height: 1.6;
  --select-large-label-letter-spacing: -0.24px;
  --select-large-label-text-align: left;
  --select-large-label-text-transform: none;
  --select-large-label-text-decoration: none;
  --select-large-label-color: #555555;
  --select-large-option-font-family: 'Inter';
  --select-large-option-font-size: 16px;
  --select-large-option-font-weight: 400;
  --select-large-option-line-height: 1.25;
  --select-large-option-letter-spacing: -0.32px;
  --select-large-option-text-align: left;
  --select-large-option-text-transform: none;
  --select-large-option-text-decoration: none;
  --select-large-option-color: #555555;
  --select-large-icon-width: 16px;
  --select-large-icon-width-raw: 16;
  --select-large-icon-height: 16px;
  --select-large-icon-height-raw: 16;
  --select-large-icon-color: #888888;
  --select-large-additional-info-spacing: 5px;
  --select-large-additional-info-font-family: 'Inter';
  --select-large-additional-info-font-size: 12px;
  --select-large-additional-info-font-weight: 400;
  --select-large-additional-info-line-height: 1.6;
  --select-large-additional-info-letter-spacing: -0.24px;
  --select-large-additional-info-text-align: left;
  --select-large-additional-info-text-transform: none;
  --select-large-additional-info-text-decoration: none;
  --select-large-additional-info-color: #555555;
}