$switch-sizes: ( "sm", "md", "lg" );

$switch-themes: ( "dark", "light" );

$switch-states: ( "disabled", "hover", "" );

.switch {

  // switch  , theme: Dark, state: Disabled
   --switch-disabled-dark-on-padding-start: 12px;
  --switch-disabled-dark-on-width: 36px;
  --switch-disabled-dark-on-width-raw: 36;
  --switch-disabled-dark-on-height: 20px;
  --switch-disabled-dark-on-height-raw: 20;
  --switch-disabled-dark-on-background: #258cf2;
  --switch-disabled-dark-on-border-width: 1px;
  --switch-disabled-dark-on-border-radius: 174px;
  --switch-disabled-dark-on-border-color: transparent;
  --switch-disabled-dark-on-opacity: 0.4000000059604645;
  --switch-disabled-dark-on-box-shadow: none;
  --switch-disabled-label-dark-on-font-family: 'Inter';
  --switch-disabled-label-dark-on-font-size: 14px;
  --switch-disabled-label-dark-on-font-weight: 400;
  --switch-disabled-label-dark-on-line-height: 1.4285714721679688;
  --switch-disabled-label-dark-on-letter-spacing: -0.28px;
  --switch-disabled-label-dark-on-text-align: left;
  --switch-disabled-label-dark-on-text-transform: none;
  --switch-disabled-label-dark-on-text-decoration: none;
  --switch-disabled-label-dark-on-color: rgba(255, 255, 255, 0.44999998807907104);
  --switch-disabled-label-dark-on-opacity: 1;
  --switch-disabled-thumb-dark-on-width: 12px;
  --switch-disabled-thumb-dark-on-width-raw: 12;
  --switch-disabled-thumb-dark-on-height: 12px;
  --switch-disabled-thumb-dark-on-height-raw: 12;
  --switch-disabled-thumb-dark-on-background: #ffffff;
  --switch-disabled-thumb-dark-on-border-width: 1px;
  --switch-disabled-thumb-dark-on-border-color: transparent;

  // switch  , theme: Dark, state: Hover
   --switch-hover-dark-on-padding-start: 12px;
  --switch-hover-dark-on-width: 36px;
  --switch-hover-dark-on-width-raw: 36;
  --switch-hover-dark-on-height: 20px;
  --switch-hover-dark-on-height-raw: 20;
  --switch-hover-dark-on-background: #0073e6;
  --switch-hover-dark-on-border-width: 1px;
  --switch-hover-dark-on-border-radius: 174px;
  --switch-hover-dark-on-border-color: transparent;
  --switch-hover-dark-on-opacity: 1;
  --switch-hover-dark-on-box-shadow: none;
  --switch-hover-label-dark-on-font-family: 'Inter';
  --switch-hover-label-dark-on-font-size: 14px;
  --switch-hover-label-dark-on-font-weight: 400;
  --switch-hover-label-dark-on-line-height: 1.4285714721679688;
  --switch-hover-label-dark-on-letter-spacing: -0.28px;
  --switch-hover-label-dark-on-text-align: left;
  --switch-hover-label-dark-on-text-transform: none;
  --switch-hover-label-dark-on-text-decoration: none;
  --switch-hover-label-dark-on-color: rgba(255, 255, 255, 0.8500000238418579);
  --switch-hover-label-dark-on-opacity: 1;
  --switch-hover-thumb-dark-on-width: 12px;
  --switch-hover-thumb-dark-on-width-raw: 12;
  --switch-hover-thumb-dark-on-height: 12px;
  --switch-hover-thumb-dark-on-height-raw: 12;
  --switch-hover-thumb-dark-on-background: #ffffff;
  --switch-hover-thumb-dark-on-border-width: 1px;
  --switch-hover-thumb-dark-on-border-color: transparent;

  // switch  , theme: Dark, state: Default
   --switch-dark-on-padding-start: 12px;
  --switch-dark-on-width: 36px;
  --switch-dark-on-width-raw: 36;
  --switch-dark-on-height: 20px;
  --switch-dark-on-height-raw: 20;
  --switch-dark-on-background: #258cf2;
  --switch-dark-on-border-width: 1px;
  --switch-dark-on-border-radius: 174px;
  --switch-dark-on-border-color: transparent;
  --switch-dark-on-opacity: 1;
  --switch-dark-on-box-shadow: none;
  --switch-label-dark-on-font-family: 'Inter';
  --switch-label-dark-on-font-size: 14px;
  --switch-label-dark-on-font-weight: 400;
  --switch-label-dark-on-line-height: 1.4285714721679688;
  --switch-label-dark-on-letter-spacing: -0.28px;
  --switch-label-dark-on-text-align: left;
  --switch-label-dark-on-text-transform: none;
  --switch-label-dark-on-text-decoration: none;
  --switch-label-dark-on-color: rgba(255, 255, 255, 0.8500000238418579);
  --switch-label-dark-on-opacity: 1;
  --switch-thumb-dark-on-width: 12px;
  --switch-thumb-dark-on-width-raw: 12;
  --switch-thumb-dark-on-height: 12px;
  --switch-thumb-dark-on-height-raw: 12;
  --switch-thumb-dark-on-background: #ffffff;
  --switch-thumb-dark-on-border-width: 1px;
  --switch-thumb-dark-on-border-color: transparent;

  // switch  , theme: Dark, state: Disabled
   --switch-disabled-dark-off-padding-start: 12px;
  --switch-disabled-dark-off-width: 36px;
  --switch-disabled-dark-off-width-raw: 36;
  --switch-disabled-dark-off-height: 20px;
  --switch-disabled-dark-off-height-raw: 20;
  --switch-disabled-dark-off-background: #6e6e6e;
  --switch-disabled-dark-off-border-width: 1px;
  --switch-disabled-dark-off-border-radius: 174px;
  --switch-disabled-dark-off-border-color: transparent;
  --switch-disabled-dark-off-opacity: 0.4000000059604645;
  --switch-disabled-dark-off-box-shadow: none;
  --switch-disabled-label-dark-off-font-family: 'Inter';
  --switch-disabled-label-dark-off-font-size: 14px;
  --switch-disabled-label-dark-off-font-weight: 400;
  --switch-disabled-label-dark-off-line-height: 1.4285714721679688;
  --switch-disabled-label-dark-off-letter-spacing: -0.28px;
  --switch-disabled-label-dark-off-text-align: left;
  --switch-disabled-label-dark-off-text-transform: none;
  --switch-disabled-label-dark-off-text-decoration: none;
  --switch-disabled-label-dark-off-color: rgba(255, 255, 255, 0.44999998807907104);
  --switch-disabled-label-dark-off-opacity: 1;
  --switch-disabled-thumb-dark-off-width: 12px;
  --switch-disabled-thumb-dark-off-width-raw: 12;
  --switch-disabled-thumb-dark-off-height: 12px;
  --switch-disabled-thumb-dark-off-height-raw: 12;
  --switch-disabled-thumb-dark-off-background: #000000;
  --switch-disabled-thumb-dark-off-border-width: 1px;
  --switch-disabled-thumb-dark-off-border-color: transparent;

  // switch  , theme: Dark, state: Hover
   --switch-hover-dark-off-padding-start: 12px;
  --switch-hover-dark-off-width: 36px;
  --switch-hover-dark-off-width-raw: 36;
  --switch-hover-dark-off-height: 20px;
  --switch-hover-dark-off-height-raw: 20;
  --switch-hover-dark-off-background: transparent;
  --switch-hover-dark-off-border-width: 1px;
  --switch-hover-dark-off-border-radius: 174px;
  --switch-hover-dark-off-border-color: rgba(255, 255, 255, 0.75);
  --switch-hover-dark-off-opacity: 1;
  --switch-hover-dark-off-box-shadow: none;
  --switch-hover-label-dark-off-font-family: 'Inter';
  --switch-hover-label-dark-off-font-size: 14px;
  --switch-hover-label-dark-off-font-weight: 400;
  --switch-hover-label-dark-off-line-height: 1.4285714721679688;
  --switch-hover-label-dark-off-letter-spacing: -0.28px;
  --switch-hover-label-dark-off-text-align: left;
  --switch-hover-label-dark-off-text-transform: none;
  --switch-hover-label-dark-off-text-decoration: none;
  --switch-hover-label-dark-off-color: rgba(255, 255, 255, 0.8500000238418579);
  --switch-hover-label-dark-off-opacity: 1;
  --switch-hover-thumb-dark-off-width: 12px;
  --switch-hover-thumb-dark-off-width-raw: 12;
  --switch-hover-thumb-dark-off-height: 12px;
  --switch-hover-thumb-dark-off-height-raw: 12;
  --switch-hover-thumb-dark-off-background: #aaaaaa;
  --switch-hover-thumb-dark-off-border-width: 1px;
  --switch-hover-thumb-dark-off-border-color: transparent;

  // switch  , theme: Dark, state: Default
   --switch-dark-off-padding-start: 12px;
  --switch-dark-off-width: 36px;
  --switch-dark-off-width-raw: 36;
  --switch-dark-off-height: 20px;
  --switch-dark-off-height-raw: 20;
  --switch-dark-off-background: transparent;
  --switch-dark-off-border-width: 1px;
  --switch-dark-off-border-radius: 174px;
  --switch-dark-off-border-color: rgba(255, 255, 255, 0.4000000059604645);
  --switch-dark-off-opacity: 1;
  --switch-dark-off-box-shadow: none;
  --switch-label-dark-off-font-family: 'Inter';
  --switch-label-dark-off-font-size: 14px;
  --switch-label-dark-off-font-weight: 400;
  --switch-label-dark-off-line-height: 1.4285714721679688;
  --switch-label-dark-off-letter-spacing: -0.28px;
  --switch-label-dark-off-text-align: left;
  --switch-label-dark-off-text-transform: none;
  --switch-label-dark-off-text-decoration: none;
  --switch-label-dark-off-color: rgba(255, 255, 255, 0.6499999761581421);
  --switch-label-dark-off-opacity: 1;
  --switch-thumb-dark-off-width: 12px;
  --switch-thumb-dark-off-width-raw: 12;
  --switch-thumb-dark-off-height: 12px;
  --switch-thumb-dark-off-height-raw: 12;
  --switch-thumb-dark-off-background: #888888;
  --switch-thumb-dark-off-border-width: 1px;
  --switch-thumb-dark-off-border-color: transparent;

  // switch  , theme: Light, state: Disabled
   --switch-disabled-on-padding-start: 12px;
  --switch-disabled-on-width: 36px;
  --switch-disabled-on-width-raw: 36;
  --switch-disabled-on-height: 20px;
  --switch-disabled-on-height-raw: 20;
  --switch-disabled-on-background: #258cf2;
  --switch-disabled-on-border-width: 1px;
  --switch-disabled-on-border-radius: 174px;
  --switch-disabled-on-border-color: transparent;
  --switch-disabled-on-opacity: 0.30000001192092896;
  --switch-disabled-on-box-shadow: none;
  --switch-disabled-label-on-font-family: 'Inter';
  --switch-disabled-label-on-font-size: 14px;
  --switch-disabled-label-on-font-weight: 400;
  --switch-disabled-label-on-line-height: 1.4285714721679688;
  --switch-disabled-label-on-letter-spacing: -0.28px;
  --switch-disabled-label-on-text-align: left;
  --switch-disabled-label-on-text-transform: none;
  --switch-disabled-label-on-text-decoration: none;
  --switch-disabled-label-on-color: #777777;
  --switch-disabled-label-on-opacity: 1;
  --switch-disabled-thumb-on-width: 12px;
  --switch-disabled-thumb-on-width-raw: 12;
  --switch-disabled-thumb-on-height: 12px;
  --switch-disabled-thumb-on-height-raw: 12;
  --switch-disabled-thumb-on-background: #ffffff;
  --switch-disabled-thumb-on-border-width: 1px;
  --switch-disabled-thumb-on-border-color: transparent;

  // switch  , theme: Light, state: Hover
   --switch-hover-on-padding-start: 12px;
  --switch-hover-on-width: 36px;
  --switch-hover-on-width-raw: 36;
  --switch-hover-on-height: 20px;
  --switch-hover-on-height-raw: 20;
  --switch-hover-on-background: #0f69c1;
  --switch-hover-on-border-width: 2px;
  --switch-hover-on-border-radius: 174px;
  --switch-hover-on-border-color: transparent;
  --switch-hover-on-opacity: 1;
  --switch-hover-on-box-shadow: none;
  --switch-hover-label-on-font-family: 'Inter';
  --switch-hover-label-on-font-size: 14px;
  --switch-hover-label-on-font-weight: 400;
  --switch-hover-label-on-line-height: 1.4285714721679688;
  --switch-hover-label-on-letter-spacing: -0.28px;
  --switch-hover-label-on-text-align: left;
  --switch-hover-label-on-text-transform: none;
  --switch-hover-label-on-text-decoration: none;
  --switch-hover-label-on-color: rgba(0, 0, 0, 0.800000011920929);
  --switch-hover-label-on-opacity: 1;
  --switch-hover-thumb-on-width: 12px;
  --switch-hover-thumb-on-width-raw: 12;
  --switch-hover-thumb-on-height: 12px;
  --switch-hover-thumb-on-height-raw: 12;
  --switch-hover-thumb-on-background: #ffffff;
  --switch-hover-thumb-on-border-width: 1px;
  --switch-hover-thumb-on-border-color: transparent;

  // switch  , theme: Light, state: Default
   --switch-on-padding-start: 12px;
  --switch-on-width: 36px;
  --switch-on-width-raw: 36;
  --switch-on-height: 20px;
  --switch-on-height-raw: 20;
  --switch-on-background: #0073e6;
  --switch-on-border-width: 1px;
  --switch-on-border-radius: 174px;
  --switch-on-border-color: transparent;
  --switch-on-opacity: 1;
  --switch-on-box-shadow: none;
  --switch-label-on-font-family: 'Inter';
  --switch-label-on-font-size: 14px;
  --switch-label-on-font-weight: 400;
  --switch-label-on-line-height: 1.4285714721679688;
  --switch-label-on-letter-spacing: -0.28px;
  --switch-label-on-text-align: left;
  --switch-label-on-text-transform: none;
  --switch-label-on-text-decoration: none;
  --switch-label-on-color: rgba(0, 0, 0, 0.800000011920929);
  --switch-label-on-opacity: 1;
  --switch-thumb-on-width: 12px;
  --switch-thumb-on-width-raw: 12;
  --switch-thumb-on-height: 12px;
  --switch-thumb-on-height-raw: 12;
  --switch-thumb-on-background: #ffffff;
  --switch-thumb-on-border-width: 1px;
  --switch-thumb-on-border-color: transparent;

  // switch  , theme: Light, state: Disabled
   --switch-disabled-off-padding-start: 12px;
  --switch-disabled-off-width: 36px;
  --switch-disabled-off-width-raw: 36;
  --switch-disabled-off-height: 20px;
  --switch-disabled-off-height-raw: 20;
  --switch-disabled-off-background: #cccccc;
  --switch-disabled-off-border-width: 1px;
  --switch-disabled-off-border-radius: 174px;
  --switch-disabled-off-border-color: transparent;
  --switch-disabled-off-opacity: 0.30000001192092896;
  --switch-disabled-off-box-shadow: none;
  --switch-disabled-label-off-font-family: 'Inter';
  --switch-disabled-label-off-font-size: 14px;
  --switch-disabled-label-off-font-weight: 400;
  --switch-disabled-label-off-line-height: 1.4285714721679688;
  --switch-disabled-label-off-letter-spacing: -0.28px;
  --switch-disabled-label-off-text-align: left;
  --switch-disabled-label-off-text-transform: none;
  --switch-disabled-label-off-text-decoration: none;
  --switch-disabled-label-off-color: #777777;
  --switch-disabled-label-off-opacity: 1;
  --switch-disabled-thumb-off-width: 12px;
  --switch-disabled-thumb-off-width-raw: 12;
  --switch-disabled-thumb-off-height: 12px;
  --switch-disabled-thumb-off-height-raw: 12;
  --switch-disabled-thumb-off-background: #ffffff;
  --switch-disabled-thumb-off-border-width: 1px;
  --switch-disabled-thumb-off-border-color: transparent;

  // switch  , theme: Light, state: Hover
   --switch-hover-off-padding-start: 12px;
  --switch-hover-off-width: 36px;
  --switch-hover-off-width-raw: 36;
  --switch-hover-off-height: 20px;
  --switch-hover-off-height-raw: 20;
  --switch-hover-off-background: transparent;
  --switch-hover-off-border-width: 1px;
  --switch-hover-off-border-radius: 174px;
  --switch-hover-off-border-color: #929292;
  --switch-hover-off-opacity: 1;
  --switch-hover-off-box-shadow: none;
  --switch-hover-label-off-font-family: 'Inter';
  --switch-hover-label-off-font-size: 14px;
  --switch-hover-label-off-font-weight: 400;
  --switch-hover-label-off-line-height: 1.4285714721679688;
  --switch-hover-label-off-letter-spacing: -0.28px;
  --switch-hover-label-off-text-align: left;
  --switch-hover-label-off-text-transform: none;
  --switch-hover-label-off-text-decoration: none;
  --switch-hover-label-off-color: rgba(0, 0, 0, 0.800000011920929);
  --switch-hover-label-off-opacity: 1;
  --switch-hover-thumb-off-width: 12px;
  --switch-hover-thumb-off-width-raw: 12;
  --switch-hover-thumb-off-height: 12px;
  --switch-hover-thumb-off-height-raw: 12;
  --switch-hover-thumb-off-background: #888888;
  --switch-hover-thumb-off-border-width: 1px;
  --switch-hover-thumb-off-border-color: transparent;

  // switch  , theme: Light, state: Default
   --switch-off-padding-start: 12px;
  --switch-off-width: 36px;
  --switch-off-width-raw: 36;
  --switch-off-height: 20px;
  --switch-off-height-raw: 20;
  --switch-off-background: transparent;
  --switch-off-border-width: 1px;
  --switch-off-border-radius: 174px;
  --switch-off-border-color: #b3b3b3;
  --switch-off-opacity: 1;
  --switch-off-box-shadow: none;
  --switch-label-off-font-family: 'Inter';
  --switch-label-off-font-size: 14px;
  --switch-label-off-font-weight: 400;
  --switch-label-off-line-height: 1.4285714721679688;
  --switch-label-off-letter-spacing: -0.28px;
  --switch-label-off-text-align: left;
  --switch-label-off-text-transform: none;
  --switch-label-off-text-decoration: none;
  --switch-label-off-color: #555555;
  --switch-label-off-opacity: 1;
  --switch-thumb-off-width: 12px;
  --switch-thumb-off-width-raw: 12;
  --switch-thumb-off-height: 12px;
  --switch-thumb-off-height-raw: 12;
  --switch-thumb-off-background: #aaaaaa;
  --switch-thumb-off-border-width: 1px;
  --switch-thumb-off-border-color: transparent;

  // switch Small falsefalse
   --switch-small-off-padding-start: 10px;
  --switch-small-off-width: 30px;
  --switch-small-off-width-raw: 30;
  --switch-small-off-height: 16px;
  --switch-small-off-height-raw: 16;
  --switch-small-off-background: transparent;
  --switch-small-off-border-width: 1px;
  --switch-small-off-border-radius: 174px;
  --switch-small-off-border-color: #000000;
  --switch-small-off-opacity: 1;
  --switch-small-off-box-shadow: none;
  --switch-small-label-off-font-family: 'Inter';
  --switch-small-label-off-font-size: 12px;
  --switch-small-label-off-font-weight: 400;
  --switch-small-label-off-line-height: 1.6666667175292968;
  --switch-small-label-off-letter-spacing: -0.24px;
  --switch-small-label-off-text-align: left;
  --switch-small-label-off-text-transform: none;
  --switch-small-label-off-text-decoration: none;
  --switch-small-label-off-color: #555555;
  --switch-small-label-off-opacity: 1;
  --switch-small-thumb-off-width: 10px;
  --switch-small-thumb-off-width-raw: 10;
  --switch-small-thumb-off-height: 10px;
  --switch-small-thumb-off-height-raw: 10;
  --switch-small-thumb-off-background: #000000;
  --switch-small-thumb-off-border-width: 1px;
  --switch-small-thumb-off-border-color: transparent;

  // switch Medium falsefalse
   --switch-medium-off-padding-start: 12px;
  --switch-medium-off-width: 36px;
  --switch-medium-off-width-raw: 36;
  --switch-medium-off-height: 20px;
  --switch-medium-off-height-raw: 20;
  --switch-medium-off-background: transparent;
  --switch-medium-off-border-width: 1px;
  --switch-medium-off-border-radius: 174px;
  --switch-medium-off-border-color: #000000;
  --switch-medium-off-opacity: 1;
  --switch-medium-off-box-shadow: none;
  --switch-medium-label-off-font-family: 'Inter';
  --switch-medium-label-off-font-size: 14px;
  --switch-medium-label-off-font-weight: 400;
  --switch-medium-label-off-line-height: 1.4285714721679688;
  --switch-medium-label-off-letter-spacing: -0.28px;
  --switch-medium-label-off-text-align: left;
  --switch-medium-label-off-text-transform: none;
  --switch-medium-label-off-text-decoration: none;
  --switch-medium-label-off-color: #555555;
  --switch-medium-label-off-opacity: 1;
  --switch-medium-thumb-off-width: 12px;
  --switch-medium-thumb-off-width-raw: 12;
  --switch-medium-thumb-off-height: 12px;
  --switch-medium-thumb-off-height-raw: 12;
  --switch-medium-thumb-off-background: #000000;
  --switch-medium-thumb-off-border-width: 1px;
  --switch-medium-thumb-off-border-color: transparent;

  // switch Large falsefalse
   --switch-large-off-padding-start: 14px;
  --switch-large-off-width: 44px;
  --switch-large-off-width-raw: 44;
  --switch-large-off-height: 24px;
  --switch-large-off-height-raw: 24;
  --switch-large-off-background: transparent;
  --switch-large-off-border-width: 1px;
  --switch-large-off-border-radius: 174px;
  --switch-large-off-border-color: #000000;
  --switch-large-off-opacity: 1;
  --switch-large-off-box-shadow: none;
  --switch-large-label-off-font-family: 'Inter';
  --switch-large-label-off-font-size: 16px;
  --switch-large-label-off-font-weight: 400;
  --switch-large-label-off-line-height: 1.25;
  --switch-large-label-off-letter-spacing: -0.32px;
  --switch-large-label-off-text-align: left;
  --switch-large-label-off-text-transform: none;
  --switch-large-label-off-text-decoration: none;
  --switch-large-label-off-color: #555555;
  --switch-large-label-off-opacity: 1;
  --switch-large-thumb-off-width: 14px;
  --switch-large-thumb-off-width-raw: 14;
  --switch-large-thumb-off-height: 14px;
  --switch-large-thumb-off-height-raw: 14;
  --switch-large-thumb-off-background: #000000;
  --switch-large-thumb-off-border-width: 1px;
  --switch-large-thumb-off-border-color: transparent;
}