/* =============================================================================
   ANCHOR NAV (components/_anchor-nav.scss)
   ========================================================================== */

.c-anchor-nav {
	/* Keep the anchor nav visible on the side */
	position: sticky;
	top: rem( 100px );
	font-size: var( --anchor-nav-link-font-size );
	list-style: none;

	li {
		margin-bottom: rem( 4px );

		& > hr {
			max-width: rem( 20px );
			margin: rem( 8px ) rem( 0 ) rem( 8px ) rem( 14px );
		}
	}

	p {
		font-size: rem( 10px );
		text-transform: uppercase;
		margin-bottom: rem( 10px );
		padding: 0 0 0 rem( 12px );
	}

	a {
		color: var( --anchor-nav-link-font-color );
		font-weight: var( --anchor-nav-link-font-weight );
		display: block;
		padding: rem( 4px ) rem( 12px );

		&:hover {
			background-color: var( --anchor-nav-item-hover-background-color );
			border-radius: var( --anchor-nav-item-hover-border-radius );
			box-shadow: var( --anchor-nav-item-hover-box-shadow );
			color: var( --anchor-nav-link-hover-font-color );
			font-weight: var( --anchor-nav-link-hover-font-weight );
			transition: all .2s ease-in-out;
		}

		&.is-selected {
			background-color: var( --anchor-nav-item-active-background-color );
			border-radius: var( --anchor-nav-item-active-border-radius );
			box-shadow: var( --anchor-nav-item-active-box-shadow );
			color: var( --anchor-nav-link-active-font-color );
			font-weight: var( --anchor-nav-link-active-font-weight );
		}
	}
}
