/* =============================================================================
   CARD (components/_card.scss)
   ========================================================================== */

@keyframes scaleIn {
	0% {
		transform: scale( .2 );
		opacity: .1;
	}

	100% {
		transform: scale( 1 );
		opacity: 1;
	}
}

.c-card {
	border-radius: rem( 6px );
	box-shadow: 0 rem( 4px ) rem( 2px ) 0 rgb( 0, 0, 0, .03 );
	border: 1px solid #eaeaea;
	transition: .2s all ease-in-out;
	margin-bottom: rem( 25px );
	padding: rem( 42px );

	&--component-preview {
		padding: 1rem 2.625rem;
		margin-bottom: 1rem;
		h4 {
			margin-bottom: rem( 0 );
			.component-version {
				font-size: rem( 12px );
				color: #757575;
			}
		}
	}

	p {
		font-size: rem( 14px );
	}

	&--icon-preview {
		text-align: center;
		padding: rem( 16px );

		p {
			font-family: 'Consolas', 'Courier', monospace;
			font-size: rem( 12px );
		}

		svg {
			/* stylelint-disable-next-line declaration-no-important */
			margin: rem( 32px ) 0 rem( 26px ) 0 !important;
			width: rem( 24px );
			height: rem( 24px );
			animation: scaleIn .3s ease-in-out;
			color: #585858;
		}
	}

	*:last-child {
		margin-bottom: 0;
	}

	&--grey {
		background-color: #f3f3f5;
		border: none;
		box-shadow: none;
	}

	&--blue-gradient {
		background: linear-gradient( 45deg, #f3f6f7, #e9f0f9 );
		border: none;
		border-radius: rem( 10px );
		box-shadow: none;
	}
}

.c-card__icon {
	width: rem( 32px );
	height: rem( 40px );
	float: left;
	margin-right: rem( 20px );
	margin-top: rem( 10px );
}

$bg-color: rgb( 255, 255, 255 );
$dot-color: rgb( 218, 218, 218 );

$dot-size: rem( 2px );
$dot-space: rem( 16px );

.c-icon-preview {
	border-radius: rem( 6px );
	text-align: center;
	padding: rem( 42px );
	background: linear-gradient( 90deg, $bg-color ($dot-space - $dot-size), transparent 1% ) center,
		linear-gradient( $bg-color ($dot-space - $dot-size), transparent 1% ) center,
		$dot-color;
	background-size: $dot-space $dot-space;

	svg {
		width: rem( 40px );
		height: rem( 40px );
	}


	&--big {
		padding: rem( 90px ) rem( 42px );

		svg {
			width: rem( 100px );
			height: rem( 100px );
		}
	}

	&--on-light {
		background: none;
		background-color: #f3f3f3;
		margin-bottom: rem( 25px );
	}

	&--on-dark {
		background: none;
		background-color: #333;
		color: #fff;
	}
}

.c-icon-live-preview {
	background-color: #f7f7f7;
	border-radius: rem( 4px );
}

.c-icon-live-preview__menu {
	padding: rem( 32px );

	ul {
		background-color: #fff;
		border-radius: rem( 4px );
		box-shadow: 0 2px 4px rgba( 0, 0, 0, .04 );
		list-style: none;
		padding: rem( 10px );
		position: relative;
		margin-bottom: 0;

		&::before {
			content: '';
			width: rem( 13px );
			height: rem( 13px );
			background-color: #fff;
			display: block;
			position: absolute;
			right: rem( 24px );
			top: rem( -6px );
			transform: rotate( 45deg );
		}

		li {
			font-size: rem( 12px );
			padding: rem( 15px ) rem( 15px );
			color: #757575;
			border-radius: rem( 4px );
			cursor: pointer;
			margin-bottom: rem( 5px );

			&.c-icon-live-preview__menu--active,
			&:hover {
				background-color: #f7f7f7;
				color: #333;
				font-weight: normal;
				transition: .2s all ease-in-out;
			}

			small {
				background-color: #c6f8bc;
				border-radius: rem( 3px );
				padding: rem( 3px ) rem( 6px );
				float: right;
				color: #588e4d;
			}

			svg {
				margin-right: rem( 7px );
				width: rem( 14px );
				height: rem( 14px );
			}
		}
	}

	&:hover {
		.c-icon-live-preview__menu--active {
			background-color: #fff;
			color: #757575;

			&:hover {
				background-color: #f7f7f7;
				color: #333;
			}
		}
	}
}

.c-icon-live-preview__button {
	padding: rem( 60px ) rem( 32px );

	svg {
		margin: 0 rem( 10px ) 0 0;
	}

	.c-button:first-child {
		margin-bottom: rem( 20px );
	}
}

.c-icon-live-preview__nav {
	text-align: center;
	padding: rem( 105px ) 0;

	span {
		padding: rem( 16px ) rem( 10px );
		background-color: #fff;
		box-shadow: 0 2px 4px rgba( 0, 0, 0, .06 );

		&:first-child {
			border-radius: rem( 4px ) 0 0 rem( 4px );
		}

		&:last-child {
			border-radius: 0 rem( 4px ) rem( 4px ) 0;
		}

		a {
			color: #333;
			padding: rem( 10px ) rem( 16px );
			transition: .2s all ease-in-out;
			border-radius: rem( 4px );

			svg {
				margin-left: 0;
			}

			&:hover,
			&.active {
				background-color: #1462ff;
				color: #fff;
			}
		}
	}

	svg {
		width: rem( 20px );
		height: rem( 20px );
	}

	&:hover {
		transition: .2s all ease-in-out;

		a.active {
			background-color: #fff;
			color: #333;

			&:hover {
				background-color: #1462ff;
				color: #fff;
			}
		}
	}
}
