/* =============================================================================
   COLOR PREVIEW (components/_color-preview.scss)
   ========================================================================== */

.c-color-preview {
	margin-bottom: rem( 50px );

	h5 {
		margin: 0 0 rem( 5px ) 0;
	}
}

.c-color-preview__wrapper {
	border-radius: rem( 6px );
	/* box-shadow: 0 rem( 4px ) rem( 2px ) 0 rgb( 0, 0, 0, .03 );
	border: 1px solid #eaeaea;
	padding: rem( 6px ) rem( 6px ) rem( 15px ) rem( 6px ); */
	transition: .2s all ease-in-out;

	code {
		/* stylelint-disable-next-line declaration-no-important */
		background-color: transparent !important;
		color: #6f6f6f;
		font-size: rem( 14px );
		display: block;
		padding-top: 0;
	}

	/*
	&:hover {
		border: 1px solid #cecece;
		box-shadow: 0 rem( 4px ) rem( 4px ) 0 rgb( 0, 0, 0, .03 );
		transform: scale( 1.03 );
		transition: .2s all ease-in-out;
	}
	*/
}

.c-color-preview__sample {
	display: block;
	width: 100%;
	height: rem( 130px );
	border-radius: 3px;
	background-color: #d82a64;
	margin-bottom: rem( 20px );

	&--orange {
		background-color: #f2541d;
	}

	&--yellow {
		background-color: #f7f741;
	}

	&--blue {
		background-color: #0173e5;
	}

	&--grey {
		background-color: #2a2a2a;
	}

	&--grey-100 {
		background-color: #333;
	}

	&--grey-200 {
		background-color: #5a5a5a;
	}

	&--grey-300 {
		background-color: #919191;
	}

	&--grey-400 {
		background-color: #bfbfbf;
	}

	&--grey-500 {
		background-color: #e1e1e1;
	}
}


.c-logo-preview {
	width: rem( 430px );
	height: auto;
	display: flex;
	flex-direction: column;
	background-color: #f9f9f9;
	border-radius: rem( 6px );
	padding: rem( 48px );
}
