/* =============================================================================
   COMPONENT (components/_component.scss)
   ========================================================================== */
iframe {
	border: none;
	height: auto;
	width: 100%;
}

.c-component-preview {
	background-color: #f7f7f7;
	border-radius: rem( 6px ) rem( 6px ) 0 0;
	display: flex;
	justify-content: center;

	&--dark {
		background-color: #000;
	}

	& > * {
		all: unset;
	}

	a {
		cursor: pointer;
	}

	.c-button {
		line-height: 1;
		border-style: solid;
		min-width: rem( 150px );
		text-align: center;
	}

	&--column {
		flex-direction: column;

		& > div:first-child {
			margin-bottom: rem( 24px );
		}
	}
}