/* =============================================================================
   CONTENT (components/_content.scss)
   ========================================================================== */

.c-content {
	@include media-breakpoint-up( lg ) {
		max-width: rem( 1000px );
		margin-left: rem( 220px );
		width: calc( 100% - 220px );
	}

	@include media-breakpoint-up( xl ) {
		margin-left: rem( 300px );
		width: calc( 100% - 300px );
	}

	:target {
		scroll-margin-top: rem( 70px );
	}
}

.c-component-card {
	margin-bottom: rem( 40px );
	display: block;

	&--soon {
		filter: grayscale( 0 );

		&::before {
			content: 'coming soon';
			position: absolute;
			display: block;
			top: 10px;
			right: 10px;
			color: #bcbcbc;
			font-size: rem( 8px );
			text-transform: uppercase;
			padding: rem( 3px ) rem( 7px );
			border-radius: rem( 3px );
		}
	}

	h6 {
		margin-bottom: rem( 3px );
		color: #333;
		letter-spacing: rem( -.3px );
		font-weight: 500;
	}

	p {
		font-size: rem( 14px );
		color: #585858;
	}

	&:hover .c-component-card__img {
		background-color: #ececec;
		transition: .2s all ease-in-out;

		& > * {
			width: 70%;
			transition: .2s all ease-in-out;
		}
	}
}

.c-component-card__img {
	background-color: #f4f4f4;
	border-radius: rem( 8px );
	width: 100%;
	display: block;
	min-height: 100px;
	margin-bottom: rem( 20px );
	text-align: center;
	padding: rem( 30px );
	transition: .2s all ease-in-out;

	& > * {
		transition: .2s all ease-in-out;
		width: 65%;
		height: auto;
	}
}
