/* =============================================================================
   FOOTER (components/_footer.scss)
   ========================================================================== */

.c-site-footer {
	text-align: center;
	padding-top: rem( 30px );

	p {
		font-size: rem( 12px );
		color: #757575;
	}
}
