/* =============================================================================
   KBAR SEARCH (components/_kbar.scss)
   ========================================================================== */

.c-kbar {
	position: absolute;
	z-index: 10;
}

.c-kbar__wrapper {
	width: 100%;
	max-width: rem( 500px );

	&--background {
		background-color: #fff;
		border-radius: rem( 6px );
		box-shadow: 0 10px 20px 6px rgba( 100, 110, 120, .08 );
		backdrop-filter: saturate( 180% ) blur( 0 );
		padding: rem( 10px );
		width: 100%;
	}
}

.c-kbar__overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	backdrop-filter: saturate( 180% ) blur( 1px );
	background-color: rgba( 255, 255, 255, .9 );
}

.c-kbar__search {
	border: none;
	font-size: rem( 14px );
	padding: rem( 10px ) rem( 20px ) rem( 15px ) rem( 20px );
	border-bottom: 1px solid #dcdcdc;
	width: 100%;

	&:focus,
	&:active {
		outline: none;
	}
}

#kbar-listbox {
	height: auto !important;
	margin-top: rem( 10px );

	& > * {
		position: relative !important;
	}
}

div[ id*='kbar-listbox-item' ] {
	transform: translateY( 0 ) !important;
	color: #545454;

	&[ aria-selected='true' ] div {
		background-color: #fafafa !important;
	}

	div {
		padding: rem( 12px ) rem( 18px );
		border-radius: rem( 3px );
		font-size: rem( 14px );
	}
}

.c-kbar__description {
	backdrop-filter: blur( 0 );
	margin-top: rem( 20px );
	display: flex;
	justify-content: space-between;

	p {
		font-size: rem( 10px );
		color: #aeaeae;
		margin-bottom: 0;

		span {
			background-color: #ededed;
			display: inline-block;
			border-radius: rem( 2px );
			padding: 0 rem( 6px );
			box-shadow: 0 1px 1px 1px rgba( 0, 0, 0, .07 );
			color: #757575;
			font-size: rem( 9px );
			font-weight: 500;
		}
	}
}
