/* =============================================================================
   PAGINATION (components/_pagination.scss)
   ========================================================================== */

.c-pagination-big {
	display: flex;

	a {
		border-radius: rem( 4px );
		padding: rem( 20px );
		background-color: #fafafa;
		width: 100%;
	}

	span {
		display: block;
		font-size: rem( 12px );
		color: #757575;
	}
}
