/* =============================================================================
   PAGE (components/_page.scss)
   ========================================================================== */

.c-page {
	padding-top: rem( 65px );
}

.c-do-dont {
	margin: rem( 30px ) rem( -20px )  rem( 30px ) rem( -20px );
	width: 100%;

	@include media-breakpoint-up( md ) {
		display: flex;
	}

	svg {
		margin-right: rem( 10px );
	}
}

.c-do-dont__do,
.c-do-dont__dont {
	background-color: #f7f7f7;
	border-radius: rem( 4px );
	margin: rem( 20px );
	padding: rem( 30px ) rem( 40px );
	border-top: rem( 6px ) solid #5cc780;
	width: 100%;
}

.c-do-dont__dont {
	border-top: rem( 6px ) solid #f17160;
}

.c-do-dont__do p, .c-do-dont__dont p {
	font-size: rem( 14px );
	color: #757575;
}

.c-do-dont__do > p, .c-do-dont__dont > p {
	border-bottom: 1px solid #e6e5e5;
	padding-bottom: rem( 10px );
	color: #5cc780;
	font-size: rem( 13px );
	font-weight: 800;
}

.c-do-dont__dont > p {
	color: #f17160;
}

.c-do-dont__do > ul, .c-do-dont__dont > ul {
	padding-left: rem( 20px );
}

.c-title--extra-large {
	font-size: font-size( xl );

	@include media-breakpoint-up( md ) {
		font-size: font-size( xxl );
	}
}
