/* =============================================================================
   SIDENAV (components/_sidenav.scss)
   ========================================================================== */

.c-sidenav {
	background-color: var( --sidenav-background-color );
	max-width: rem( 220px );
	width: 100%;
	font-size: rem( 13px );
	height: 2500px;
	padding: rem( 24px ) rem( 18px ) 0 rem( 18px );
	padding: var( --sidenav-padding-top ) var( --sidenav-padding-right ) var( --sidenav-padding-bottom ) var( --sidenav-padding-left );
	float: left;

	@include media-breakpoint-down( md ) {
		display: none;
	}

	ul {
		list-style: none;
		padding-left: 0;
	}

	li {
		margin-bottom: rem( 1px );

		a {
			background-color: var( --sidenav-item-background-color );
			border-radius: var( --sidenav-item-border-radius );
			box-shadow: var( --sidenav-item-box-shadow );
			font-size: var( --sidenav-link-font-size );
			font-weight: var( --sidenav-link-font-weight );
			color: var( --sidenav-link-font-color );
			padding: var( --sidenav-item-padding-top ) var( --sidenav-item-padding-right ) var( --sidenav-item-padding-bottom ) var( --sidenav-item-padding-left );
			display: block;
			width: 100%;
			border: 1px solid transparent;
			position: relative;
			margin-bottom: rem( 4px );

			&.is-selected {
				background-color: var( --sidenav-item-active-background-color );
				border-radius: var( --sidenav-item-active-border-radius );
				box-shadow: var( --sidenav-item-active-box-shadow );
				color: var( --sidenav-link-active-font-color );
				font-weight: var( --sidenav-link-active-font-weight );

				&::before {
					content: '';
					display: none;
					width: rem( 3px );
					height: 100%;
					background-color: #2670a9;
					position: absolute;
					left: 0;
					top: 0;
				}

				svg {
					opacity: 1;
					transition: .2s all ease-in-out;
				}
			}

			&:hover {
				background-color: var( --sidenav-item-hover-background-color );
				border-radius: var( --sidenav-item-hover-border-radius );
				box-shadow: var( --sidenav-item-hover-box-shadow );
				color: var( --sidenav-link-hover-font-color );
				font-weight: var( --sidenav-link-hover-font-weight );
				border: 1px solid #f1f1f1;

				&.is-selected {
					background-color: #e8eff0;
					box-shadow: none;
				}

				svg {
					opacity: 1;
					transition: .2s all ease-in-out;
				}
			}
		}

		small {
			text-transform: uppercase;
			padding: rem( 20px ) 0 rem( 8px ) rem( 16px );
			display: block;
			color: #757575;
		}
	}

	.icon-wrapper {
		display: inline-block;
		vertical-align: middle;
	}

	svg, img, .icon-wrapper {
		margin-right: rem( 15px );
		opacity: .17;
		width: rem( 16px );
	}

	.c-sidenav__title {
		font-weight: bold;
		border-bottom: 1px solid #eaeaea;
		padding-bottom: rem( 15px );
		margin-bottom: rem( 20px );
		padding-left: rem( 15px );
	}

	.c-badge {
		margin-left: rem( 15px );
	}
}
