/* =============================================================================
   SIDENAV (components/_sidenav.scss)
   ========================================================================== */

.c-sidenav {
	background-color: #fafafa;
	max-width: rem( 220px );
	width: 100%;
	font-size: rem( 13px );
	height: 2500px;
	padding: rem( 24px ) rem( 18px ) 0 rem( 18px );
	float: left;

	@include media-breakpoint-down( md ) {
		display: none;
	}

	ul {
		list-style: none;
		padding-left: 0;
	}

	li {
		margin-bottom: rem( 1px );

		a {
			color: #545454;
			display: block;
			width: 100%;
			border-radius: rem( 4px );
			padding: rem( 8px ) rem( 5px ) rem( 8px ) rem( 16px );
			border: 1px solid transparent;
			position: relative;
			font-size: rem( 12px );
			margin-bottom: rem( 4px );

			&.is-selected {
				background-color: #e8eff0;
				color: #1f1f1f;
				font-weight: 500;

				&::before {
					content: '';
					display: none;
					width: rem( 3px );
					height: 100%;
					background-color: #2670a9;
					position: absolute;
					left: 0;
					top: 0;
				}

				svg {
					opacity: 1;
					transition: .2s all ease-in-out;
				}
			}

			&:hover {
				background-color: #fff;
				border: 1px solid #f1f1f1;
				box-shadow: 0 2px 2px 0 rgb( 0, 0, 0, .03 );

				&.is-selected {
					background-color: #e8eff0;
					box-shadow: none;
				}

				svg {
					opacity: 1;
					transition: .2s all ease-in-out;
				}
			}
		}

		small {
			text-transform: uppercase;
			padding: rem( 20px ) 0 rem( 8px ) rem( 16px );
			display: block;
			color: #757575;
		}
	}
	.icon-wrapper {
		display: inline-block;
		vertical-align: middle;
	}

	svg, .icon-wrapper {
		margin-right: rem( 15px );
		opacity: .17;
		width: rem( 16px );
	}

	.c-sidenav__title {
		font-weight: bold;
		border-bottom: 1px solid #eaeaea;
		padding-bottom: rem( 15px );
		margin-bottom: rem( 20px );
		padding-left: rem( 15px );
	}

	.c-badge {
		margin-left: rem( 15px );
	}
}
