/* =============================================================================
   TOKENS PREVIEW (components/_tokens-preview.scss)
   ========================================================================== */

.c-tokens-preview {
	p {
		font-size: rem( 12px );
		color: #1f1f1f;
	}

	hr {
		margin: rem( 25px ) 0;
	}

	.c-component-preview {
		margin-top: rem( 28px );
	}

	.c-component-preview--sticky {
		position: sticky;
		top: rem( 100px );
	}

	.o-row {
		justify-content: space-between;
	}
}

.c-tokens-preview__row {
	display: flex;
	align-items: center;
	margin: 0 0 rem( 8px ) 0;

	& > * {
		min-width: rem( 110px );
		margin: 0 0 0 rem( 42px );
	}

	& > :first-child {
		flex-grow: 1;
		margin-left: 0;
		position: relative;
	}

	&:hover {
		.c-token-preview {
			background-color: #e8eff0;
			transition: all .2s ease-in-out;
		}
	}
}

.c-token-preview {
	display: flex;
	align-items: center;
	border-radius: rem( 4px );
	background-color: #f7f7f7;
	padding: rem( 5px ) rem( 5px );
	margin: 0 0 0 rem( 42px );
	min-width: rem( 110px );
	justify-content: center;
	transition: all .2s ease-in-out;
	z-index: 10;

	svg {
		max-width: rem( 12px );
		max-height: rem( 12px );
		opacity: .4;
	}

	p {
		margin: 0 0 0 rem( 10px );
		font-size: rem( 11px );
	}
}

.c-token-preview__color {
	padding: rem( 2px );
	border-radius: rem( 4px );
	background-color: #fff;
	border: 1px solid #dadada;

	span {
		display: block;
		width: rem( 10px );
		height: rem( 10px );
		border-radius: rem( 2px );
	}
}