<script src="/components/bundle.js"></script>

<body class="preview-body">
<div class="modal" tabindex="-1" id="myModal" style="position: static; display: block;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Modal Visual</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>Show modal content here, supports any tipe of previously styled component.</p>
			</div>
			<div class="modal-footer">
				<small>Modal footer copy example.</small>
			</div>
		</div>
	</div>
</div>
</body>
