<html lang='en' dir='ltr'>
  <head>
    {{{style}}}
    {{{script}}}
  </head>
  <body class='theme preview-body'>

    <h1>This is a sample template</h1>
    <p>This is a sample template. You can use this template to create your own templates.</p>

  </body>
</html>