/* =============================================================================
   FORMS (elements/_forms.scss)
   ========================================================================== */

/* Buttons
   ========================================================================== */

button,
input[ type='submit' ] {
	display: inline-block;
	border: 0;
	cursor: pointer;

	&:focus {
		outline: none;
	}
}
