/* =============================================================================
   ALERTS (extended/_alerts.scss)
   ========================================================================== */

@each $variant in $alert-type-map {
	.alert-#{$variant} {
		--#{$prefix}alert-color: var( --alert-#{$variant}-text-color );
		--#{$prefix}alert-bg: var( --alert-#{$variant}-background );
		--#{$prefix}alert-border-color: var( --alert-#{$variant}-border-color );
		--#{$prefix}alert-padding-x: var( --alert-#{$variant}-padding-top );
		--#{$prefix}alert-border: var( --alert-#{$variant}-border-width ) solid var( --alert-#{$variant}-border-color );
		background: var( --alert-#{$variant}-background );
		border-radius: var( --alert-#{$variant}-border-radius );
		border-style: var( --alert-#{$variant}-border-style );
		font-family: var( --alert-#{$variant}-text-font-family );
		font-size: var( --alert-#{$variant}-text-font-size );
		font-weight: var( --alert-#{$variant}-text-font-weight );
		padding: var( --alert-#{$variant}-padding-right ) var( --alert-#{$variant}-padding-top );
	}
}