// input, theme: Dark, state: Disabled
$input-dark-disabled-background: #cccccc;
$input-dark-disabled-bg: #cccccc;
$input-dark-disabled-padding-y: 12px;
$input-dark-disabled-padding-x: 20px;
$input-dark-disabled-padding-top: 12px;
$input-dark-disabled-padding-right: 20px;
$input-dark-disabled-padding-bottom: 12px;
$input-dark-disabled-padding-left: 20px;
$input-dark-disabled-border-width: 2px;
$input-dark-disabled-border-radius: 4px;
$input-dark-disabled-border-color: transparent;
$input-dark-disabled-font-family: 'Inter';
$input-dark-disabled-font-size: 14px;
$input-dark-disabled-font-weight: 400;
$input-dark-disabled-line-height: 1.4285714721679688;
$input-dark-disabled-letter-spacing: -0.28px;
$input-dark-disabled-text-align: left;
$input-dark-disabled-text-decoration: none;
$input-dark-disabled-text-transform: none;
$input-dark-disabled-color: #555555;
$input-dark-disabled-box-shadow: none;
$input-label-dark-disabled-spacing: 5px;
$input-label-dark-disabled-font-family: 'Inter';
$input-label-dark-disabled-font-size: 12px;
$input-label-dark-disabled-font-weight: 400;
$input-label-dark-disabled-line-height: 1.6;
$input-label-dark-disabled-letter-spacing: -0.24px;
$input-label-dark-disabled-text-align: left;
$input-label-dark-disabled-text-decoration: none;
$input-label-dark-disabled-text-transform: none;
$input-label-dark-disabled-color: #ffffff;
$input-icon-dark-disabled-border-width: 2px;
$input-icon-dark-disabled-border-color: #000000;
$input-additional-info-dark-disabled-spacing: 5px;
$input-additional-info-dark-disabled-font-family: 'Inter';
$input-additional-info-dark-disabled-font-size: 12px;
$input-additional-info-dark-disabled-font-weight: 400;
$input-additional-info-dark-disabled-line-height: 1.6;
$input-additional-info-dark-disabled-letter-spacing: -0.24px;
$input-additional-info-dark-disabled-text-align: left;
$input-additional-info-dark-disabled-text-decoration: none;
$input-additional-info-dark-disabled-text-transform: none;
$input-additional-info-dark-disabled-color: #ffffff;

// input, theme: Dark, state: Error
$input-dark-error-background: #f8f8f8;
$input-dark-error-bg: #f8f8f8;
$input-dark-error-padding-y: 12px;
$input-dark-error-padding-x: 20px;
$input-dark-error-padding-top: 12px;
$input-dark-error-padding-right: 20px;
$input-dark-error-padding-bottom: 12px;
$input-dark-error-padding-left: 20px;
$input-dark-error-border-width: 2px;
$input-dark-error-border-radius: 4px;
$input-dark-error-border-color: #f35d6c;
$input-dark-error-font-family: 'Inter';
$input-dark-error-font-size: 14px;
$input-dark-error-font-weight: 400;
$input-dark-error-line-height: 1.4285714721679688;
$input-dark-error-letter-spacing: -0.28px;
$input-dark-error-text-align: left;
$input-dark-error-text-decoration: none;
$input-dark-error-text-transform: none;
$input-dark-error-color: #555555;
$input-dark-error-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07999999821186066);
$input-label-dark-error-spacing: 5px;
$input-label-dark-error-font-family: 'Inter';
$input-label-dark-error-font-size: 12px;
$input-label-dark-error-font-weight: 400;
$input-label-dark-error-line-height: 1.6;
$input-label-dark-error-letter-spacing: -0.24px;
$input-label-dark-error-text-align: left;
$input-label-dark-error-text-decoration: none;
$input-label-dark-error-text-transform: none;
$input-label-dark-error-color: #ffffff;
$input-icon-dark-error-border-width: 2px;
$input-icon-dark-error-border-color: #000000;
$input-additional-info-dark-error-spacing: 5px;
$input-additional-info-dark-error-font-family: 'Inter';
$input-additional-info-dark-error-font-size: 12px;
$input-additional-info-dark-error-font-weight: 400;
$input-additional-info-dark-error-line-height: 1.6;
$input-additional-info-dark-error-letter-spacing: -0.24px;
$input-additional-info-dark-error-text-align: left;
$input-additional-info-dark-error-text-decoration: none;
$input-additional-info-dark-error-text-transform: none;
$input-additional-info-dark-error-color: #f35d6c;

// input, theme: Dark, state: Complete
$input-dark-complete-background: #f8f8f8;
$input-dark-complete-bg: #f8f8f8;
$input-dark-complete-padding-y: 12px;
$input-dark-complete-padding-x: 20px;
$input-dark-complete-padding-top: 12px;
$input-dark-complete-padding-right: 20px;
$input-dark-complete-padding-bottom: 12px;
$input-dark-complete-padding-left: 20px;
$input-dark-complete-border-width: 2px;
$input-dark-complete-border-radius: 4px;
$input-dark-complete-border-color: transparent;
$input-dark-complete-font-family: 'Inter';
$input-dark-complete-font-size: 14px;
$input-dark-complete-font-weight: 400;
$input-dark-complete-line-height: 1.4285714721679688;
$input-dark-complete-letter-spacing: -0.28px;
$input-dark-complete-text-align: left;
$input-dark-complete-text-decoration: none;
$input-dark-complete-text-transform: none;
$input-dark-complete-color: #000000;
$input-dark-complete-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07999999821186066);
$input-label-dark-complete-spacing: 5px;
$input-label-dark-complete-font-family: 'Inter';
$input-label-dark-complete-font-size: 12px;
$input-label-dark-complete-font-weight: 400;
$input-label-dark-complete-line-height: 1.6;
$input-label-dark-complete-letter-spacing: -0.24px;
$input-label-dark-complete-text-align: left;
$input-label-dark-complete-text-decoration: none;
$input-label-dark-complete-text-transform: none;
$input-label-dark-complete-color: #ffffff;
$input-icon-dark-complete-border-width: 2px;
$input-icon-dark-complete-border-color: #000000;
$input-additional-info-dark-complete-spacing: 5px;
$input-additional-info-dark-complete-font-family: 'Inter';
$input-additional-info-dark-complete-font-size: 12px;
$input-additional-info-dark-complete-font-weight: 400;
$input-additional-info-dark-complete-line-height: 1.6;
$input-additional-info-dark-complete-letter-spacing: -0.24px;
$input-additional-info-dark-complete-text-align: left;
$input-additional-info-dark-complete-text-decoration: none;
$input-additional-info-dark-complete-text-transform: none;
$input-additional-info-dark-complete-color: #ffffff;

// input, theme: Dark, state: Active
$input-dark-active-background: #ffffff;
$input-dark-active-bg: #ffffff;
$input-dark-active-padding-y: 12px;
$input-dark-active-padding-x: 20px;
$input-dark-active-padding-top: 12px;
$input-dark-active-padding-right: 20px;
$input-dark-active-padding-bottom: 12px;
$input-dark-active-padding-left: 20px;
$input-dark-active-border-width: 2px;
$input-dark-active-border-radius: 4px;
$input-dark-active-border-color: transparent;
$input-dark-active-font-family: 'Inter';
$input-dark-active-font-size: 14px;
$input-dark-active-font-weight: 400;
$input-dark-active-line-height: 1.4285714721679688;
$input-dark-active-letter-spacing: -0.28px;
$input-dark-active-text-align: left;
$input-dark-active-text-decoration: none;
$input-dark-active-text-transform: none;
$input-dark-active-color: #000000;
$input-dark-active-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07999999821186066);
$input-label-dark-active-spacing: 5px;
$input-label-dark-active-font-family: 'Inter';
$input-label-dark-active-font-size: 12px;
$input-label-dark-active-font-weight: 400;
$input-label-dark-active-line-height: 1.6;
$input-label-dark-active-letter-spacing: -0.24px;
$input-label-dark-active-text-align: left;
$input-label-dark-active-text-decoration: none;
$input-label-dark-active-text-transform: none;
$input-label-dark-active-color: #ffffff;
$input-icon-dark-active-border-width: 2px;
$input-icon-dark-active-border-color: #000000;
$input-additional-info-dark-active-spacing: 5px;
$input-additional-info-dark-active-font-family: 'Inter';
$input-additional-info-dark-active-font-size: 12px;
$input-additional-info-dark-active-font-weight: 400;
$input-additional-info-dark-active-line-height: 1.6;
$input-additional-info-dark-active-letter-spacing: -0.24px;
$input-additional-info-dark-active-text-align: left;
$input-additional-info-dark-active-text-decoration: none;
$input-additional-info-dark-active-text-transform: none;
$input-additional-info-dark-active-color: #ffffff;

// input, theme: Dark, state: Hover
$input-dark-hover-background: #ffffff;
$input-dark-hover-bg: #ffffff;
$input-dark-hover-padding-y: 12px;
$input-dark-hover-padding-x: 20px;
$input-dark-hover-padding-top: 12px;
$input-dark-hover-padding-right: 20px;
$input-dark-hover-padding-bottom: 12px;
$input-dark-hover-padding-left: 20px;
$input-dark-hover-border-width: 2px;
$input-dark-hover-border-radius: 4px;
$input-dark-hover-border-color: transparent;
$input-dark-hover-font-family: 'Inter';
$input-dark-hover-font-size: 14px;
$input-dark-hover-font-weight: 400;
$input-dark-hover-line-height: 1.4285714721679688;
$input-dark-hover-letter-spacing: -0.28px;
$input-dark-hover-text-align: left;
$input-dark-hover-text-decoration: none;
$input-dark-hover-text-transform: none;
$input-dark-hover-color: #555555;
$input-dark-hover-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07999999821186066);
$input-label-dark-hover-spacing: 5px;
$input-label-dark-hover-font-family: 'Inter';
$input-label-dark-hover-font-size: 12px;
$input-label-dark-hover-font-weight: 400;
$input-label-dark-hover-line-height: 1.6;
$input-label-dark-hover-letter-spacing: -0.24px;
$input-label-dark-hover-text-align: left;
$input-label-dark-hover-text-decoration: none;
$input-label-dark-hover-text-transform: none;
$input-label-dark-hover-color: #ffffff;
$input-icon-dark-hover-border-width: 2px;
$input-icon-dark-hover-border-color: #000000;
$input-additional-info-dark-hover-spacing: 5px;
$input-additional-info-dark-hover-font-family: 'Inter';
$input-additional-info-dark-hover-font-size: 12px;
$input-additional-info-dark-hover-font-weight: 400;
$input-additional-info-dark-hover-line-height: 1.6;
$input-additional-info-dark-hover-letter-spacing: -0.24px;
$input-additional-info-dark-hover-text-align: left;
$input-additional-info-dark-hover-text-decoration: none;
$input-additional-info-dark-hover-text-transform: none;
$input-additional-info-dark-hover-color: #ffffff;

// input, theme: Dark, state: Default
$input-dark-background: #f8f8f8;
$input-dark-bg: #f8f8f8;
$input-dark-padding-y: 12px;
$input-dark-padding-x: 20px;
$input-dark-padding-top: 12px;
$input-dark-padding-right: 20px;
$input-dark-padding-bottom: 12px;
$input-dark-padding-left: 20px;
$input-dark-border-width: 2px;
$input-dark-border-radius: 4px;
$input-dark-border-color: transparent;
$input-dark-font-family: 'Inter';
$input-dark-font-size: 14px;
$input-dark-font-weight: 400;
$input-dark-line-height: 1.4285714721679688;
$input-dark-letter-spacing: -0.28px;
$input-dark-text-align: left;
$input-dark-text-decoration: none;
$input-dark-text-transform: none;
$input-dark-color: #555555;
$input-dark-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07999999821186066);
$input-label-dark-spacing: 5px;
$input-label-dark-font-family: 'Inter';
$input-label-dark-font-size: 12px;
$input-label-dark-font-weight: 400;
$input-label-dark-line-height: 1.6;
$input-label-dark-letter-spacing: -0.24px;
$input-label-dark-text-align: left;
$input-label-dark-text-decoration: none;
$input-label-dark-text-transform: none;
$input-label-dark-color: #ffffff;
$input-icon-dark-border-width: 2px;
$input-icon-dark-border-color: #000000;
$input-additional-info-dark-spacing: 5px;
$input-additional-info-dark-font-family: 'Inter';
$input-additional-info-dark-font-size: 12px;
$input-additional-info-dark-font-weight: 400;
$input-additional-info-dark-line-height: 1.6;
$input-additional-info-dark-letter-spacing: -0.24px;
$input-additional-info-dark-text-align: left;
$input-additional-info-dark-text-decoration: none;
$input-additional-info-dark-text-transform: none;
$input-additional-info-dark-color: #ffffff;

// input, theme: Light, state: Disabled
$input-disabled-background: #f8f8f8;
$input-disabled-bg: #f8f8f8;
$input-disabled-padding-y: 12px;
$input-disabled-padding-x: 20px;
$input-disabled-padding-top: 12px;
$input-disabled-padding-right: 20px;
$input-disabled-padding-bottom: 12px;
$input-disabled-padding-left: 20px;
$input-disabled-border-width: 2px;
$input-disabled-border-radius: 4px;
$input-disabled-border-color: transparent;
$input-disabled-font-family: 'Inter';
$input-disabled-font-size: 14px;
$input-disabled-font-weight: 400;
$input-disabled-line-height: 1.4285714721679688;
$input-disabled-letter-spacing: -0.28px;
$input-disabled-text-align: left;
$input-disabled-text-decoration: none;
$input-disabled-text-transform: none;
$input-disabled-color: #777777;
$input-disabled-box-shadow: none;
$input-label-disabled-spacing: 5px;
$input-label-disabled-font-family: 'Inter';
$input-label-disabled-font-size: 12px;
$input-label-disabled-font-weight: 400;
$input-label-disabled-line-height: 1.6;
$input-label-disabled-letter-spacing: -0.24px;
$input-label-disabled-text-align: left;
$input-label-disabled-text-decoration: none;
$input-label-disabled-text-transform: none;
$input-label-disabled-color: #777777;
$input-icon-disabled-border-width: 2px;
$input-icon-disabled-border-color: #000000;
$input-additional-info-disabled-spacing: 5px;
$input-additional-info-disabled-font-family: 'Inter';
$input-additional-info-disabled-font-size: 12px;
$input-additional-info-disabled-font-weight: 400;
$input-additional-info-disabled-line-height: 1.6;
$input-additional-info-disabled-letter-spacing: -0.24px;
$input-additional-info-disabled-text-align: left;
$input-additional-info-disabled-text-decoration: none;
$input-additional-info-disabled-text-transform: none;
$input-additional-info-disabled-color: #777777;

// input, theme: Light, state: Error
$input-error-background: #ffffff;
$input-error-bg: #ffffff;
$input-error-padding-y: 12px;
$input-error-padding-x: 20px;
$input-error-padding-top: 12px;
$input-error-padding-right: 20px;
$input-error-padding-bottom: 12px;
$input-error-padding-left: 20px;
$input-error-border-width: 2px;
$input-error-border-radius: 4px;
$input-error-border-color: #dc3545;
$input-error-font-family: 'Inter';
$input-error-font-size: 14px;
$input-error-font-weight: 400;
$input-error-line-height: 1.4285714721679688;
$input-error-letter-spacing: -0.28px;
$input-error-text-align: left;
$input-error-text-decoration: none;
$input-error-text-transform: none;
$input-error-color: #777777;
$input-error-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07999999821186066);
$input-label-error-spacing: 5px;
$input-label-error-font-family: 'Inter';
$input-label-error-font-size: 12px;
$input-label-error-font-weight: 400;
$input-label-error-line-height: 1.6;
$input-label-error-letter-spacing: -0.24px;
$input-label-error-text-align: left;
$input-label-error-text-decoration: none;
$input-label-error-text-transform: none;
$input-label-error-color: #555555;
$input-icon-error-border-width: 2px;
$input-icon-error-border-color: #000000;
$input-additional-info-error-spacing: 5px;
$input-additional-info-error-font-family: 'Inter';
$input-additional-info-error-font-size: 12px;
$input-additional-info-error-font-weight: 400;
$input-additional-info-error-line-height: 1.6;
$input-additional-info-error-letter-spacing: -0.24px;
$input-additional-info-error-text-align: left;
$input-additional-info-error-text-decoration: none;
$input-additional-info-error-text-transform: none;
$input-additional-info-error-color: #dc3545;

// input, theme: Light, state: Complete
$input-complete-background: #ffffff;
$input-complete-bg: #ffffff;
$input-complete-padding-y: 12px;
$input-complete-padding-x: 20px;
$input-complete-padding-top: 12px;
$input-complete-padding-right: 20px;
$input-complete-padding-bottom: 12px;
$input-complete-padding-left: 20px;
$input-complete-border-width: 2px;
$input-complete-border-radius: 4px;
$input-complete-border-color: #e8e8e8;
$input-complete-font-family: 'Inter';
$input-complete-font-size: 14px;
$input-complete-font-weight: 400;
$input-complete-line-height: 1.4285714721679688;
$input-complete-letter-spacing: -0.28px;
$input-complete-text-align: left;
$input-complete-text-decoration: none;
$input-complete-text-transform: none;
$input-complete-color: #000000;
$input-complete-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07999999821186066);
$input-label-complete-spacing: 5px;
$input-label-complete-font-family: 'Inter';
$input-label-complete-font-size: 12px;
$input-label-complete-font-weight: 400;
$input-label-complete-line-height: 1.6;
$input-label-complete-letter-spacing: -0.24px;
$input-label-complete-text-align: left;
$input-label-complete-text-decoration: none;
$input-label-complete-text-transform: none;
$input-label-complete-color: #555555;
$input-icon-complete-border-width: 2px;
$input-icon-complete-border-color: #000000;
$input-additional-info-complete-spacing: 5px;
$input-additional-info-complete-font-family: 'Inter';
$input-additional-info-complete-font-size: 12px;
$input-additional-info-complete-font-weight: 400;
$input-additional-info-complete-line-height: 1.6;
$input-additional-info-complete-letter-spacing: -0.24px;
$input-additional-info-complete-text-align: left;
$input-additional-info-complete-text-decoration: none;
$input-additional-info-complete-text-transform: none;
$input-additional-info-complete-color: #777777;

// input, theme: Light, state: Active
$input-active-background: #ffffff;
$input-active-bg: #ffffff;
$input-active-padding-y: 12px;
$input-active-padding-x: 20px;
$input-active-padding-top: 12px;
$input-active-padding-right: 20px;
$input-active-padding-bottom: 12px;
$input-active-padding-left: 20px;
$input-active-border-width: 2px;
$input-active-border-radius: 4px;
$input-active-border-color: #929292;
$input-active-font-family: 'Inter';
$input-active-font-size: 14px;
$input-active-font-weight: 400;
$input-active-line-height: 1.4285714721679688;
$input-active-letter-spacing: -0.28px;
$input-active-text-align: left;
$input-active-text-decoration: none;
$input-active-text-transform: none;
$input-active-color: #000000;
$input-active-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07999999821186066);
$input-label-active-spacing: 5px;
$input-label-active-font-family: 'Inter';
$input-label-active-font-size: 12px;
$input-label-active-font-weight: 400;
$input-label-active-line-height: 1.6;
$input-label-active-letter-spacing: -0.24px;
$input-label-active-text-align: left;
$input-label-active-text-decoration: none;
$input-label-active-text-transform: none;
$input-label-active-color: #000000;
$input-icon-active-border-width: 2px;
$input-icon-active-border-color: #000000;
$input-additional-info-active-spacing: 5px;
$input-additional-info-active-font-family: 'Inter';
$input-additional-info-active-font-size: 12px;
$input-additional-info-active-font-weight: 400;
$input-additional-info-active-line-height: 1.6;
$input-additional-info-active-letter-spacing: -0.24px;
$input-additional-info-active-text-align: left;
$input-additional-info-active-text-decoration: none;
$input-additional-info-active-text-transform: none;
$input-additional-info-active-color: #777777;

// input, theme: Light, state: Hover
$input-hover-background: #ffffff;
$input-hover-bg: #ffffff;
$input-hover-padding-y: 12px;
$input-hover-padding-x: 20px;
$input-hover-padding-top: 12px;
$input-hover-padding-right: 20px;
$input-hover-padding-bottom: 12px;
$input-hover-padding-left: 20px;
$input-hover-border-width: 2px;
$input-hover-border-radius: 4px;
$input-hover-border-color: #b3b3b3;
$input-hover-font-family: 'Inter';
$input-hover-font-size: 14px;
$input-hover-font-weight: 400;
$input-hover-line-height: 1.4285714721679688;
$input-hover-letter-spacing: -0.28px;
$input-hover-text-align: left;
$input-hover-text-decoration: none;
$input-hover-text-transform: none;
$input-hover-color: #777777;
$input-hover-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07999999821186066);
$input-label-hover-spacing: 5px;
$input-label-hover-font-family: 'Inter';
$input-label-hover-font-size: 12px;
$input-label-hover-font-weight: 400;
$input-label-hover-line-height: 1.6;
$input-label-hover-letter-spacing: -0.24px;
$input-label-hover-text-align: left;
$input-label-hover-text-decoration: none;
$input-label-hover-text-transform: none;
$input-label-hover-color: #555555;
$input-icon-hover-border-width: 2px;
$input-icon-hover-border-color: #000000;
$input-additional-info-hover-spacing: 5px;
$input-additional-info-hover-font-family: 'Inter';
$input-additional-info-hover-font-size: 12px;
$input-additional-info-hover-font-weight: 400;
$input-additional-info-hover-line-height: 1.6;
$input-additional-info-hover-letter-spacing: -0.24px;
$input-additional-info-hover-text-align: left;
$input-additional-info-hover-text-decoration: none;
$input-additional-info-hover-text-transform: none;
$input-additional-info-hover-color: #777777;

// input, theme: Light, state: Default
$input-background: #ffffff;
$input-bg: #ffffff;
$input-padding-y: 12px;
$input-padding-x: 20px;
$input-padding-top: 12px;
$input-padding-right: 20px;
$input-padding-bottom: 12px;
$input-padding-left: 20px;
$input-border-width: 3px;
$input-border-radius: 4px;
$input-border-color: #b3b3b3;
$input-font-family: 'Inter';
$input-font-size: 14px;
$input-font-weight: 400;
$input-line-height: 1.4285714721679688;
$input-letter-spacing: -0.28px;
$input-text-align: left;
$input-text-decoration: none;
$input-text-transform: none;
$input-color: #777777;
$input-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07999999821186066);
$input-label-spacing: 5px;
$input-label-font-family: 'Inter';
$input-label-font-size: 12px;
$input-label-font-weight: 400;
$input-label-line-height: 1.6;
$input-label-letter-spacing: -0.24px;
$input-label-text-align: left;
$input-label-text-decoration: none;
$input-label-text-transform: none;
$input-label-color: #555555;
$input-icon-border-width: 2px;
$input-icon-border-color: #000000;
$input-additional-info-spacing: 5px;
$input-additional-info-font-family: 'Inter';
$input-additional-info-font-size: 12px;
$input-additional-info-font-weight: 400;
$input-additional-info-line-height: 1.6;
$input-additional-info-letter-spacing: -0.24px;
$input-additional-info-text-align: left;
$input-additional-info-text-decoration: none;
$input-additional-info-text-transform: none;
$input-additional-info-color: #777777;

// Small input
$input-small-background: transparent;
$input-small-bg: transparent;
$input-small-padding-y: 10px;
$input-small-padding-x: 16px;
$input-small-padding-top: 10px;
$input-small-padding-right: 16px;
$input-small-padding-bottom: 10px;
$input-small-padding-left: 16px;
$input-small-border-width: 1px;
$input-small-border-radius: 4px;
$input-small-border-color: #000000;
$input-small-font-family: 'Inter';
$input-small-font-size: 12px;
$input-small-font-weight: 400;
$input-small-line-height: 1.6666667175292968;
$input-small-letter-spacing: -0.24px;
$input-small-text-align: left;
$input-small-text-decoration: none;
$input-small-text-transform: none;
$input-small-color: #555555;
$input-small-box-shadow: none;
$input-small-label-spacing: 2px;
$input-small-label-font-family: 'Inter';
$input-small-label-font-size: 12px;
$input-small-label-font-weight: 400;
$input-small-label-line-height: 1.6;
$input-small-label-letter-spacing: -0.24px;
$input-small-label-text-align: left;
$input-small-label-text-decoration: none;
$input-small-label-text-transform: none;
$input-small-label-color: #555555;
$input-small-icon-border-width: 2px;
$input-small-icon-border-color: #000000;
$input-small-additional-info-spacing: 2px;
$input-small-additional-info-font-family: 'Inter';
$input-small-additional-info-font-size: 12px;
$input-small-additional-info-font-weight: 400;
$input-small-additional-info-line-height: 1.6;
$input-small-additional-info-letter-spacing: -0.24px;
$input-small-additional-info-text-align: left;
$input-small-additional-info-text-decoration: none;
$input-small-additional-info-text-transform: none;
$input-small-additional-info-color: #555555;

// Medium input
$input-medium-background: transparent;
$input-medium-bg: transparent;
$input-medium-padding-y: 12px;
$input-medium-padding-x: 20px;
$input-medium-padding-top: 12px;
$input-medium-padding-right: 20px;
$input-medium-padding-bottom: 12px;
$input-medium-padding-left: 20px;
$input-medium-border-width: 2px;
$input-medium-border-radius: 4px;
$input-medium-border-color: #000000;
$input-medium-font-family: 'Inter';
$input-medium-font-size: 14px;
$input-medium-font-weight: 400;
$input-medium-line-height: 1.4285714721679688;
$input-medium-letter-spacing: -0.28px;
$input-medium-text-align: left;
$input-medium-text-decoration: none;
$input-medium-text-transform: none;
$input-medium-color: #555555;
$input-medium-box-shadow: none;
$input-medium-label-spacing: 5px;
$input-medium-label-font-family: 'Inter';
$input-medium-label-font-size: 12px;
$input-medium-label-font-weight: 400;
$input-medium-label-line-height: 1.6;
$input-medium-label-letter-spacing: -0.24px;
$input-medium-label-text-align: left;
$input-medium-label-text-decoration: none;
$input-medium-label-text-transform: none;
$input-medium-label-color: #555555;
$input-medium-icon-border-width: 2px;
$input-medium-icon-border-color: #000000;
$input-medium-additional-info-spacing: 5px;
$input-medium-additional-info-font-family: 'Inter';
$input-medium-additional-info-font-size: 12px;
$input-medium-additional-info-font-weight: 400;
$input-medium-additional-info-line-height: 1.6;
$input-medium-additional-info-letter-spacing: -0.24px;
$input-medium-additional-info-text-align: left;
$input-medium-additional-info-text-decoration: none;
$input-medium-additional-info-text-transform: none;
$input-medium-additional-info-color: #555555;

// Large input
$input-large-background: transparent;
$input-large-bg: transparent;
$input-large-padding-y: 14px;
$input-large-padding-x: 20px;
$input-large-padding-top: 14px;
$input-large-padding-right: 20px;
$input-large-padding-bottom: 14px;
$input-large-padding-left: 20px;
$input-large-border-width: 1px;
$input-large-border-radius: 4px;
$input-large-border-color: #000000;
$input-large-font-family: 'Inter';
$input-large-font-size: 16px;
$input-large-font-weight: 400;
$input-large-line-height: 1.25;
$input-large-letter-spacing: -0.32px;
$input-large-text-align: left;
$input-large-text-decoration: none;
$input-large-text-transform: none;
$input-large-color: #555555;
$input-large-box-shadow: none;
$input-large-label-spacing: 5px;
$input-large-label-font-family: 'Inter';
$input-large-label-font-size: 12px;
$input-large-label-font-weight: 400;
$input-large-label-line-height: 1.6;
$input-large-label-letter-spacing: -0.24px;
$input-large-label-text-align: left;
$input-large-label-text-decoration: none;
$input-large-label-text-transform: none;
$input-large-label-color: #555555;
$input-large-icon-border-width: 2px;
$input-large-icon-border-color: #000000;
$input-large-additional-info-spacing: 5px;
$input-large-additional-info-font-family: 'Inter';
$input-large-additional-info-font-size: 12px;
$input-large-additional-info-font-weight: 400;
$input-large-additional-info-line-height: 1.6;
$input-large-additional-info-letter-spacing: -0.24px;
$input-large-additional-info-text-align: left;
$input-large-additional-info-text-decoration: none;
$input-large-additional-info-text-transform: none;
$input-large-additional-info-color: #555555;