// tooltips
$tooltip-background: #0073e6;
$tooltip-bg: #0073e6;
$tooltip-padding-y: 8px;
$tooltip-padding-x: 8px;
$tooltip-padding-top: 8px;
$tooltip-padding-right: 16px;
$tooltip-padding-bottom: 8px;
$tooltip-padding-left: 16px;
$tooltip-border-width: 1;
$tooltip-border-radius: 2px;
$tooltip-border-radius-sm: 2px;
$tooltip-border-radius-lg: 2px;
$tooltip-border-color: rgba(0, 0, 0, 0);
$tooltip-font-family: 'Inter';
$tooltip-font-size: 14px;
$tooltip-font-weight: 400;
$tooltip-line-height: 1.6;
$tooltip-letter-spacing: -0.28px;
$tooltip-text-align: right;
$tooltip-text-decoration: none;

// tooltips
$tooltip-background: #0073e6;
$tooltip-bg: #0073e6;
$tooltip-padding-y: 8px;
$tooltip-padding-x: 8px;
$tooltip-padding-top: 8px;
$tooltip-padding-right: 16px;
$tooltip-padding-bottom: 8px;
$tooltip-padding-left: 16px;
$tooltip-border-width: 1;
$tooltip-border-radius: 2px;
$tooltip-border-radius-sm: 2px;
$tooltip-border-radius-lg: 2px;
$tooltip-border-color: rgba(0, 0, 0, 0);
$tooltip-font-family: 'Inter';
$tooltip-font-size: 14px;
$tooltip-font-weight: 400;
$tooltip-line-height: 1.6;
$tooltip-letter-spacing: -0.28px;
$tooltip-text-align: center;
$tooltip-text-decoration: none;

// tooltips
$tooltip-background: #0073e6;
$tooltip-bg: #0073e6;
$tooltip-padding-y: 8px;
$tooltip-padding-x: 8px;
$tooltip-padding-top: 8px;
$tooltip-padding-right: 16px;
$tooltip-padding-bottom: 8px;
$tooltip-padding-left: 16px;
$tooltip-border-width: 1;
$tooltip-border-radius: 2px;
$tooltip-border-radius-sm: 2px;
$tooltip-border-radius-lg: 2px;
$tooltip-border-color: rgba(0, 0, 0, 0);
$tooltip-font-family: 'Inter';
$tooltip-font-size: 14px;
$tooltip-font-weight: 400;
$tooltip-line-height: 1.6;
$tooltip-letter-spacing: -0.28px;
$tooltip-text-align: left;
$tooltip-text-decoration: none;

// tooltips
$tooltip-background: #0073e6;
$tooltip-bg: #0073e6;
$tooltip-padding-y: 8px;
$tooltip-padding-x: 8px;
$tooltip-padding-top: 8px;
$tooltip-padding-right: 16px;
$tooltip-padding-bottom: 8px;
$tooltip-padding-left: 16px;
$tooltip-border-width: 1;
$tooltip-border-radius: 2px;
$tooltip-border-radius-sm: 2px;
$tooltip-border-radius-lg: 2px;
$tooltip-border-color: rgba(0, 0, 0, 0);
$tooltip-font-family: 'Inter';
$tooltip-font-size: 14px;
$tooltip-font-weight: 400;
$tooltip-line-height: 1.6;
$tooltip-letter-spacing: -0.28px;
$tooltip-text-align: right;
$tooltip-text-decoration: none;

// tooltips
$tooltip-background: #0073e6;
$tooltip-bg: #0073e6;
$tooltip-padding-y: 8px;
$tooltip-padding-x: 8px;
$tooltip-padding-top: 8px;
$tooltip-padding-right: 16px;
$tooltip-padding-bottom: 8px;
$tooltip-padding-left: 16px;
$tooltip-border-width: 1;
$tooltip-border-radius: 2px;
$tooltip-border-radius-sm: 2px;
$tooltip-border-radius-lg: 2px;
$tooltip-border-color: rgba(0, 0, 0, 0);
$tooltip-font-family: 'Inter';
$tooltip-font-size: 14px;
$tooltip-font-weight: 400;
$tooltip-line-height: 1.6;
$tooltip-letter-spacing: -0.28px;
$tooltip-text-align: center;
$tooltip-text-decoration: none;

// tooltips
$tooltip-background: #0073e6;
$tooltip-bg: #0073e6;
$tooltip-padding-y: 8px;
$tooltip-padding-x: 8px;
$tooltip-padding-top: 8px;
$tooltip-padding-right: 16px;
$tooltip-padding-bottom: 8px;
$tooltip-padding-left: 16px;
$tooltip-border-width: 1;
$tooltip-border-radius: 2px;
$tooltip-border-radius-sm: 2px;
$tooltip-border-radius-lg: 2px;
$tooltip-border-color: rgba(0, 0, 0, 0);
$tooltip-font-family: 'Inter';
$tooltip-font-size: 14px;
$tooltip-font-weight: 400;
$tooltip-line-height: 1.6;
$tooltip-letter-spacing: -0.28px;
$tooltip-text-align: left;
$tooltip-text-decoration: none;