<script src="/components/bundle.js"></script>

<body class="theme-{{ theme }} preview-body">
  <div class="w-full">
    <input class="radio radio-check" type="radio" value="" id="flexCheckDefault" />
    <label class="radio-label" for="flexCheckDefault"> {{ parts.label.characters }} </label>
  </div>
  <div class="w-full">
    <input class="radio radio-check" type="radio" value="" id="flexCheckDefault" checked />
    <label class="radio-label" for="flexCheckDefault"> {{ parts.label.characters }} </label>
  </div>
</body>
