<script src="/components/bundle.js"></script>

<body class="theme-{{ theme }} preview-body">
<div class="w-full">
    <label class="input-label" for="formText">{{parts.label.characters}}</label>
    <input type="text" class="input" id="formText" placeholder="{{parts.text.characters}}" />
    <div class="input-additional-info">{{parts.additionalInfo.characters}}</div>
</div>
<div class="w-full">
    <label class="input-label" for="formTextarea">{{parts.label.characters}}</label>
    <textarea class="input" id="formTextarea" rows="3" placeholder="{{parts.text.characters}}"></textarea>
    <div class="input-additional-info">{{parts.additionalInfo.characters}}</div>
</div>
</body>
