<script src="/components/bundle.js"></script>

<body class="theme-{{ theme }} input flex-column preview-body">
<div class="mb-3">
    <label class="form-label" for="formTextInvalid">{{parts.label.characters}}</label>
    <input type="text" class="form-control is-invalid" id="formTextInvalid" placeholder="{{parts.text.characters}}" />
    <div class="invalid-feedback">{{parts.additionalInfo.characters}}</div>
</div>
<div class="mb-3">
    <label class="form-label" for="formTextareaInvalid">{{parts.label.characters}}</label>
    <textarea class="form-control is-invalid" id="formTextareaInvalid" rows="3" placeholder="{{parts.text.characters}}"></textarea>
    <div class="invalid-feedback">{{parts.additionalInfo.characters}}</div>
</div>
</body>
