/* =============================================================================
   TYPOGRAPHY (elements/_typography.scss)
   ========================================================================== */

h1 {
	font-weight: var( --heading-1-font-weight );
	line-height: var( --heading-1-line-height );
}

h2 {
	font-weight: var( --heading-2-font-weight );
	line-height: var( --heading-2-line-height );
}

h3 {
	font-weight: var( --heading-3-font-weight );
	line-height: var( --heading-3-line-height );
}

h4 {
	font-weight: var( --heading-4-font-weight );
	line-height: var( --heading-4-line-height );
	margin-bottom: rem( 10px );
}

h5 {
	font-weight: var( --heading-5-font-weight );
	line-height: var( --heading-5-line-height );
	margin-bottom: rem( 10px );
}

h6 {
	font-weight: var( --heading-6-font-weight );
	line-height: var( --heading-6-line-height );
}

p {
	font-size: var( --paragraph-font-size );
	font-weight: var( --paragraph-font-weight );
	line-height: var( --paragraph-line-height );
	color: #383b3e;
	color: #757575;
}

ul {
	padding-left: rem( 40px );
}

code {
	font-family: 'Consolas', 'Monaco', 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: rem( 15px );
}

strong {
	font-weight: 600;
	color: #171717;
}

a > svg:last-child {
	margin-left: rem( 10px );
}

blockquote {
	font-size: rem( 26px );
	font-style: italic;
	font-weight: 200;
	color: #757575;
	line-height: 1.6;
	letter-spacing: rem( -.4px );
}

hr {
	color: #e3e3e3;
	margin: rem( 50px ) 0;
}
